details.toggle-label#actionform
	summary.collapse#action-menu #{__('Show Post Actions')}
	.actions 
		h4.no-m-p #{__('Moderate')}:
		.row.wrap
			.col.mr-5
				label
					input.post-check(type='checkbox', name='delete' value='1')
					| #{__('Delete Posts')}
				label
					input.post-check(type='checkbox', name='unlink_file' value='1')
					| #{__('Unlink Files')}
				label
					input.post-check(type='checkbox', name='delete_file' value='1')
					| #{__('Delete Files')}
				label
					input.post-check(type='checkbox', name='delete_ip_thread' value='1')
					| #{__('Delete from IP in thread')}
				label
					input.post-check(type='checkbox', name='delete_ip_board' value='1')
					| #{__('Delete from IP on board')}
				label
					input.post-check(type='checkbox', name='delete_ip_global' value='1')
					| #{__('Delete from IP globally')}
				label
					input.post-check(type='checkbox', name='spoiler' value='1')
					| #{__('Spoiler Files')}
				label
					input.post-check(type='checkbox', name='dismiss' value='1')
					| #{__('Dismiss Reports')}
				label
					input.post-check(type='checkbox', name='global_report' value='1')
					| #{__('Global Report')}
				label
					input#report(type='text', name='report_reason', placeholder=__('Report reason') autocomplete='off')
				label
					input.post-check(type='checkbox', name='move' value='1')
					| #{__('Move')}
				.row
					label.mr-1
						input(type='text', name='move_to_board', placeholder=__('Board') autocomplete='off')
					label
						input(type='number', name='move_to_thread', placeholder=__('Thread No.') autocomplete='off')
			.col.mr-5
				label
					input.post-check(type='checkbox', name='report_ban' value='1')
					| #{__('Ban Reporters')}
				label
					input.post-check(type='checkbox', name='ban' value='1')
					| #{__('Ban Poster')}
				label
					input.post-check(type='checkbox', name='global_ban' value='1')
					| #{__('Global Ban Poster')}
				label
					input.post-check(type='checkbox', name='ban_q' value='1')
					| #{__('Narrow Range')}
				label
					input.post-check(type='checkbox', name='ban_h' value='1')
					| #{__('Wide Range')}
				label
					input.post-check(type='checkbox', name='no_appeal' value='1')
					| #{__('Non-appealable Ban')}
				label
					input.post-check(type='checkbox', name='preserve_post' value='1')
					| #{__('Show Post In Ban')}
				label
					input.post-check(type='checkbox', name='hide_name' value='1')
					| #{__('Hide Username In Modlog')}
				label
					input(type='text', name='ban_reason', placeholder=__('Ban reason') autocomplete='off')
				label
					input(type='text', name='ban_duration', placeholder=__('Ban duration e.g. 7d') autocomplete='off')
				label
					input(type='text', name='log_message', placeholder=__('Modlog message') autocomplete='off')
			.col
				label
					input.post-check(type='checkbox', name='edit' value='1')
					| #{__('Edit Post')}
				label
					input(type='text', name='sticky' placeholder='Sticky priority, 0 = unsticky')
				label
					input.post-check(type='checkbox', name='lock' value='1')
					| #{__('Toggle Lock')}
				label
					input.post-check(type='checkbox', name='bumplock' value='1')
					| #{__('Toggle Bumplock')}
				label
					input.post-check(type='checkbox', name='cyclic' value='1')
					| #{__('Toggle Cycle')}
	input(type='submit', value=__('Submit'))
