details.toggle-label#actionform
	summary.collapse#action-menu #{__('Show Post Actions')}
	.actions 
		h4.no-m-p #{__('Moderate')}:
		label
			input.post-check(type='checkbox', name='delete' value='1')
			| #{__('Delete Posts')}
		label
			input.post-check(type='checkbox', name='unlink_file' value='1')
			| #{__('Unlink Files')}
		label
			input.post-check(type='checkbox', name='delete_file' value='1')
			| #{__('Delete Files')}
		label
			input.post-check(type='checkbox', name='spoiler' value='1')
			| #{__('Spoiler Files')}
		label
			input.post-check(type='checkbox', name='edit' value='1')
			| #{__('Edit Post')}
		label
			input.post-check(type='checkbox', name='delete_ip_global' value='1')
			| #{__('Delete from IP globally')}
		label
			input.post-check(type='checkbox', name='global_dismiss' value='1')
			| #{__('Dismiss Global Reports')}
		label
			input.post-check(type='checkbox', name='global_report_ban' value='1')
			| #{__('Global Ban Reporters')}
		label
			input.post-check(type='checkbox', name='global_ban' value='1')
			| #{__('Global Ban Poster')}
		label
			input.post-check(type='checkbox', name='ban_q' value='1')
			| #{__('Narrow Range')}
		label
			input.post-check(type='checkbox', name='ban_h' value='1')
			| #{__('Wide Range')}
		label
			input.post-check(type='checkbox', name='no_appeal' value='1')
			| #{__('Non-appealable Ban')}
		label
			input.post-check(type='checkbox', name='preserve_post' value='1')
			| #{__('Show Post In Ban')}
		label
			input.post-check(type='checkbox', name='hide_name' value='1')
			| #{__('Hide Username In Modlog')}
		label
			input(type='text', name='ban_reason', placeholder=__('Ban reason') autocomplete='off')
		label
			input(type='text', name='ban_duration', placeholder=__('Ban duration e.g. 7d') autocomplete='off')
		label
			input(type='text', name='log_message', placeholder=__('Modlog message') autocomplete='off')
	input(type='submit', value=__('Submit'))
