.table-container.mv-10.text-center.horscroll
	table.bantable
		tr
			th
			th #{__('Board')}
			th #{__('Reason')}
			th #{__('IP/ID')}
			th #{__('Type')}
			th #{__('Range')}
			th #{__('Issuer')}
			th #{__('Issue Date')}
			th #{__('Expiry')}
			th #{__('Post(s)')}
			th #{__('Seen?')}
			th #{__('Appealable?')}
			th #{__('Appeal')}
			th #{__('Note')}
