section.board-header
	img.board-banner(src=`/banners?board=${board._id}` width='300' height='100')
	br
	a.no-decoration(href=`/${board._id}/index.html`)
		h1.board-title /#{board._id}/ - #{board.name}
	h4.board-description #{board.description}
