| #{__('Page')}:  
if maxPage === 0
	a.bold(href=`index.html`) [1]
- for(let i = 1; i <= maxPage; i++)
	if page === i
		a.bold(href=`${i === 1 ? 'index' : i}.html`) [#{i}]
	else
		a(href=`${i === 1 ? 'index' : i}.html`) [#{i}]
	|  
|   |
