section.board-header
	if board.banners.length > 0
		object.board-banner(data=`/img/${board.banners[Math.floor(Math.random()*board.banners.length)]}` width='300' height='100')
	a.no-decoration(href=`/${board._id}`)
		h1.board-title /#{board._id}/ - #{board.name}
	h4.board-description #{board.description}
