input(type='hidden' name='_csrf' value=csrf)
.table-container.mv-5.horscroll
	table
		tr
			th #{__('Filters')}
			th #{__('Strict Filtering')}
			th #{__('Filter Mode')}
			th #{__('Block/Ban Message')}
			th #{__('Filter Auto Ban Duration')}
			th #{__('Filter Bans Appealable')}
		tr
			td
				textarea(name='filters' rows='3' placeholder=__('Newline separated') required)
			td.text-center
				label
					input(type='checkbox', name='strict_filtering', value='true')
			td
				select(name='filter_mode')
					option(value='0', selected=true) #{__('Do nothing')}
					option(value='1') #{__('Block post')}
					option(value='2') #{__('Ban')}
			td
				input(type='text' name='filter_message' placeholder=__('e.g. Rule 1: No ad spam'))
			td
				input(type='text' name='filter_ban_duration' placeholder=__('e.g. 3d'))
			td.text-center
				label
					input(type='checkbox', name='filter_ban_appealable', value='true')
input(type='submit', value=__('Submit'))
