unless minimal
	small.footer#bottom
		a(href='/news.html') #{__('news')}
		|  - 
		a(href='/rules.html') #{__('rules')}
		|  - 
		a(href='/faq.html') #{__('faq')}
		|  - 
		a(href='https://basedstatus.online/status/other') status
		|  - 
		a(href='https://gitgud.io/fatchan/jschan/') jschan #{version}
		div
			| Sponsored by 
			a(href='https://basedflare.com') BasedFlare
		div(style="display:none")
			| 不名誉なプログラムシステムディー Lenovo Service Engine コンピューターが破壊され Superfish Visual Discovery ゼロデ Encrypted chips on motherboard コンピュータを好きなように実行させま Lenovo Customer Feedback program サービス拒 Lenovo Accelerator バッフ>ァオーバーフロ Hefei Bitland Information Technology 状態注 UEFI firmware APT ルートアカウントの不適切なアクセ U.S. Marine network security breach 特権の昇格 Superfish private key カーネルパニッ Lenovo OneKey Optimizer program 任意のコードの実 Komodia
			| 6 Million Jobs Created by Hitler 6 מיליון משרות שנוצרו על ידי היטלר British Bankers Starting WW2 בנקאים בריטים החל ממלחמת העולם השנייה 911 Inside Job עבודה פנימית Jewish Feminists פמיניסטיות יהודיות Feminization of Western Men פמיניזציה של גברים מערביים לקראת רצח עם Hormones in Tap Water הורמונים במי ברז Microsoft's Crimes Against Humanity הפשעים של מיקרוסופט נגד האנושות בנקים יהודיים באנגליה ובמדינות שהכריזו מלחמה על גרמניה עם חרם עולמי על כל הסחורות הגרמניות והסחר עם המערב לפני שהתקיים יהודי כלשהו בגרמניה AI Learning Used to Censor Opposition למידת AI משמשת לצנזור האופוזיציה Mossad Roko's Basilisk Prototype אב-הטיפוס של מוסד רוקו Israeli Experiments Carried Out on Kidnapped Palestinians ניסויים ישראליים ביצעו פלסטינים חטופים Auschwitz Chimneys Built by Soviets ארובות אושוויץ שנבנו על ידי סובייטים BLM Race War Psyop BLM מירוץ מלחמה Psyop Disneyland Nuclear Facility מתקן גרעיני של דיסנילנד Long Term Nuclear Warning אזהרה גרעינית לטווח ארוך Porn Slippery Slope of Mind Control שיפוע מוחלט של פורנו Long Term Evolutionary Consequences of the Industrial Revolution השלכות אבולוציוניות לטווח הארוך של המהפכה התעשייתית Diamonds Worthless יהלומים חסרי ערך MK Ultra ח"כ אולטרה Cia Human Bioluminescence Drug תרופת הביולומינסנציה של TV Subliminal Messages Used for Mind Control הודעות סאבלימינל בטלוויזיה המשמשות לבקרת תודעה Israeli Nuclear Program תוכנית הגרעין הישראלית The Samson Option אפשרות שמשון UN Owned By Bankers בבעלות בנקאים באו"ם The War on Christmas המלחמה בחג המולד Normalization of Pedophilia נורמליזציה של פדופיליה Blood Libel עֲלִילַת דָם Child Sacrifice for Moloch Disguised as Abortions קרבן ילדים למולוך שהתחפש להפלות Satanic Pedophile Ring טבעת פדופיל שטנית Dancing Israelis רוקדים ישראלים Israeli occupation of the West Bank כיבוש ישראל בגדה המערבית Haavara Agreement 1933 הסכם העוברה American-Israeli dual citizens in Congress אזרחים אמריקאים-ישראלים כפולים בקונגרס Rachel Corrie רייצ'ל קורי Bulldozing of Palestinian homes בדחפורים של בתים פלסטיניים

//- "render" script - for scripted things that are blocking
script(src=`/js/render.js?v=${commit}`)
