for perm, index in Object.keys(jsonPermissions)
	if jsonPermissions[perm].title && index > 0
		hr(size=1)
		h4.mv-5 #{jsonPermissions[perm].title}
		if jsonPermissions[perm].subtitle
			p #{jsonPermissions[perm].subtitle}
	.row
		label.postform-style.ph-5
			input(type='checkbox' name=perm value=jsonPermissions[perm].bit checked=jsonPermissions[perm].state)
		.rlabel #{jsonPermissions[perm].label}
		p #{jsonPermissions[perm].desc}
input(type='submit', value='Save')
