for bit, index in Object.keys(jsonPermissions)
	if jsonPermissions[bit].title && index > 0
		hr(size=1)
		h4.mv-5 #{jsonPermissions[bit].title}
		if jsonPermissions[bit].subtitle
			p #{jsonPermissions[bit].subtitle}
	.row
		- const hasParent = jsonPermissions[bit].parent == null || permissions.get(jsonPermissions[bit].parent);
		label.postform-style.ph-5(class=(!hasParent ? 'notallowed' : null))
			input(type='checkbox' name=`permission_bit_${bit}` value=bit checked=jsonPermissions[bit].state disabled=!hasParent)
		.rlabel #{jsonPermissions[bit].label}
		p #{jsonPermissions[bit].desc}
input(type='submit', value='Save')
