meta(charset='utf-8')
meta(name='viewport' content='width=device-width initial-scale=1')
- const isBoard = board != null;
if isBoard
	if board.settings.description
		meta(name='description' content=board.settings.description)
	if board.settings.tags
		meta(name='keywords' content=board.settings.tags.join(','))
noscript
	style .jsonly { display: none!important; }
link(rel='stylesheet' href=`/css/style.css?v=${commit}`)
- const theme = isBoard ? board.settings.theme : defaultTheme;
- const codeTheme = isBoard ? board.settings.codeTheme : defaultCodeTheme;
link#theme(rel='stylesheet' data-theme=theme href=`/css/themes/${theme}.css`)
if isBoard && board.settings.customCss
	style #{board.settings.customCss}
link#codetheme(rel='stylesheet' data-theme=codeTheme href=`/css/codethemes/${codeTheme}.css`)
include ./favicon.pug
script(src=`/js/all.js?v=${commit}`)

if captchaType === 'google'
	script(src='https://www.google.com/recaptcha/api.js' async defer)
if captchaType === 'hcaptcha'
	script(src='https://hcaptcha.com/1/api.js' async defer)
