input(type='hidden' name='_csrf' value=csrf)
.table-container.mv-5.horscroll
	table
		tr
			th #{__('Name')}
			th #{__('Network')}
			th #{__('Contract Address')}
			th #{__('Contract ABI')}
			th #{__('Token ID')}
			th #{__('Permissions')}
		tr
			td
				input(required type='text' name='name')
			td
				select(name='network')
					option(value='ethereum') #{__('Ethereum')}
					option(value='base') #{__('Base')}
					option(value='arbitrum') #{__('Arbitrum')}
			td.text-center
				input(required type='text' name='contract_address' placeholder='0x...')
			td
				textarea(required name='abi' rows='5' placeholder='[...]')
			td
				input(type='text' name='token_id')
			td
				| todo permission  boxes here
input(type='submit', value=__('Save'))
