| #{__('Page')}:  
- const qs = queryString ? queryString+'&' : ''
if maxPage === 0
	a.bold(href=`?${qs}page=1`) [1]
else if maxPage > 0
	- for(let i = 1; i <= maxPage; i++)
		if page === i
			a.bold(href=`?${qs}page=${i}`) [#{i}]
		else
			a(href=`?${qs}page=${i}`) [#{i}]
		|  
else
	if page > 1
		if page > 2
			a(href=`?${qs}page=1`) [<<]
			|  
		a(href=`?${qs}page=${page-1}`) [<]
		|  
	a.bold(href=`?${qs}page=${page}`) [#{page}]
	|  
	a(href=`?${qs}page=${page+1}`) [>]
