| Page: 
span
	a(href=`/${board._id}/index`) [#{1}]
	| 
- for(let i = 2; i <= pages; i++)
	if i === page
		span
			a(href=`/${board._id}/${i}`) [#{i}]
			| 
			
	else
		span
			a(href=`/${board._id}/${i}`) #{i}
			| 
|   |  
