if jsonPermissions[bit].title && index > 0
	hr(size=1)
	h4.mv-5 #{__(jsonPermissions[bit].title)}
	if jsonPermissions[bit].subtitle
		p #{__(jsonPermissions[bit].subtitle)}
.row
	- const parentAllowed = jsonPermissions[bit].parents == null || permissions.hasAny(...jsonPermissions[bit].parents);
	- const parentLabel = !parentAllowed ? (jsonPermissions[bit].parents ? jsonPermissions[bit].parents.map(p => jsonPermissions[p].label).join('\n') : '')	: '';
	label.postform-style.ph-5(id=`perm_${bit}` class=(!parentAllowed ? 'notallowed' : null) title=(!parentAllowed ? __(`Requires permission "${parentLabel}"`) : null))
		input(type='checkbox' name=`permission_bit_${bit}` value=bit checked=jsonPermissions[bit].state disabled=(!parentAllowed || jsonPermissions[bit].block))
	.rlabel #{__(jsonPermissions[bit].label)}
	p
		if !parentAllowed && parentLabel
			span.br #{__(`Requires permission "${parentLabel}"`)}
			|  - 
		| #{__(jsonPermissions[bit].desc)}
