if post.country.custom === true
	span(title=post.country.name)
		img.customflag(src=`/flag/${post.board}/${post.country.src}` alt=' ' loading='lazy')
	| 
else
	span(class=`flag flag-${post.country.code.toLowerCase()}` title=post.country.name alt=post.country.name)
	| 
