if post.sticky || post.bumplocked || post.locked || post.cyclic
	span.post-icons
		if post.sticky
			img(src='/file/sticky.png' height='14' width='14' title=`${__('Sticky')} (${post.sticky})`)
			| 
		if post.bumplocked
			img(src='/file/bumplock.png' height='14' width='14' title=__('Bumplocked'))
			| 
		if post.locked
			img(src='/file/lock.png' height='14' width='14' title=__('Locked'))
			| 
		if post.cyclic
			img(src='/file/cyclic.png' height='14' width='14' title=__('Cyclic'))
			| 

