- const isThread = thread != null;
- const subjectRequired = (!isThread && board.settings.forceThreadSubject);
- const messageRequired = (!isThread && board.settings.forceThreadMessage) || (isThread && board.settings.forceReplyMessage);
- const fileRequired = (!isThread && board.settings.forceThreadFile) || (isThread && board.settings.forceReplyFile);
section.form-wrapper.flex-center
	form.form-post#postform(action=`/forms/board/${board._id}/post`, enctype='multipart/form-data', method='POST')
		input(type='hidden' name='thread' value=isThread ? thread.postId : null)
		section.row.jsonly
			.noselect#dragHandle
		unless board.settings.forceAnon
			section.row
				.label Name
				input.mr-1(type='text', name='name', placeholder=board.settings.defaultName autocomplete='off' maxlength='50')
				a.close.postform-style(href='#!') X
			section.row
				.label
					span Subject
						if subjectRequired
							span.required *
				input(type='text', name='subject', autocomplete='off' maxlength='50' required=subjectRequired)
			section.row
				.label Email
				input(type='text', name='email', autocomplete='off' maxlength='50')
		else 
			section.row
				.label Sage
				label.postform-style.ph-5
					input(type='checkbox', name='email', value='sage')
					| Sage
				a.close.postform-style(href='#!') X
			section.row
				.label
					span Subject
						if subjectRequired
							span.required *
				input(type='text', name='subject', autocomplete='off' maxlength='50' required=subjectRequired)
		section.row
			.label
				span Message
					if messageRequired
						span.required *
			textarea#message(name='message', rows='5', autocomplete='off' maxlength=globalLimits.messageLength.max required=messageRequired)
		if board.settings.maxFiles > 0
			- const maxFiles = board.settings.maxFiles;
			section.row
				.label
					span File#{maxFiles > 1 ? 's' : ''}
						if fileRequired
							span.required *
					if maxFiles > 1
						|
						|
						small (Max #{maxFiles})
				span.col
					include ./filelabel.pug
					input#file(type='file', name='file' multiple required=fileRequired )
				if board.settings.userPostSpoiler
					label.postform-style.ph-5.ml-1.fh
						input(type='checkbox', name='spoiler', value='true')
						| Spoiler
		if board.settings.userPostSpoiler || board.settings.userPostDelete || board.settings.userPostUnlink
			section.row
				.label Password
				input(type='password', name='password', autocomplete='off' placeholder='password to delete/spoiler/unlink later' maxlength='50')
		if (board.settings.captchaMode === 1 && !isThread) || board.settings.captchaMode === 2
			section.row
				.label
					span Captcha
						span.required *
				.col
					include ./captcha.pug
		input#submitpost(type='submit', value=`New ${isThread ? 'Reply' : 'Thread'}`)
	a.toggle-summary.no-decoration(href='#postform') [New Post]
