.form-wrapper.flex-center
	form.form-post(action='/forms/register' method='POST' data-captcha-preload='true')
		.row
			.label #{__('Username')}
			input(type='text', name='username', maxlength='50' pattern='[a-zA-Z0-9]+' required title=__('alphanumeric only'))
		.row
			.label #{__('Password')}
			input(type='password', name='password', maxlength='100' required)
		.row
			.label #{__('Confirm Password')}
			input(type='password', name='passwordconfirm', maxlength='100' required)
		if captchaOptions.type === 'text'
			include ./captchasidelabel.pug
		else
			include ./captchafieldrow.pug
		input(type='submit', value=__('Register'))
