extends ../layout.pug
include ../mixins/globalmanagenav.pug

block head
	title Manage

block content
	h1.board-title Global Management
	br
	+globalmanagenav('settings')
	hr(size=1)
	h4.no-m-p Delete board:
	.form-wrapper.flexleft.mt-10
		form.form-post(action=`/forms/global/deleteboard`, enctype='application/x-www-form-urlencoded', method='POST')
			input(type='hidden' name='_csrf' value=csrf)
			.row
				.label Board URI
				input(type='text' name='uri' required)
			.row
				.label I'm sure
				label.postform-style.ph-5
					input(type='checkbox', name='confirm', value='true' required)
			input(type='submit', value='submit')
	hr(size=1)
	h4.no-m-p Settings:
	.form-wrapper.flexleft.mt-10
		form.form-post(action=`/forms/global/settings`, enctype='application/x-www-form-urlencoded', method='POST')
			input(type='hidden' name='_csrf' value=csrf)
			.row
				.label Filters
				textarea(name='filters' placeholder='Newline separated') #{settings.filters.join('\n')}
			.row
				.label Filter Mode
				select(name='filter_mode')
					option(value='0', selected=settings.filterMode === 0) Do nothing
					option(value='1', selected=settings.filterMode === 1) Block post
					option(value='2', selected=settings.filterMode === 2) Ban
			.row
				.label Filter Auto Ban Duration
				input(type='text' name='ban_duration' placeholder='e.g. 1w' value=settings.filterBanDuration)
			.row
				.label Referer Check
				label.postform-style.ph-5
					input(type='checkbox', name='referrer_check', value='true' checked=settings.refererCheck)
			.row
				.label Allowed Hosts
				textarea(name='allowed_hosts' placeholder='Newline separated') #{settings.allowedHosts.join('\n')}
			.row
				.label Country Code Header
				input(type='text' name='country_code_header' value=settings.countryCodeHeader)
			.row
				.label IP Header
				input(type='text' name='ip_header' value=settings.ipHeader)
			.row
				.label Meta Site Name
				input(type='text' name='meta_site_name' value=settings.meta.siteName)
			.row
				.label Meta URL
				input(type='text' name='meta_url' value=settings.meta.url)
			.row
				.label Secure Cookies
				label.postform-style.ph-5
					input(type='checkbox', name='secure_cookies', value='true' checked=settings.secureCookies)
			.row
				.label Disable Anonymizer File Posting
				label.postform-style.ph-5
					input(type='checkbox', name='disable_anonymizer_file_posting', value='true' checked=settings.disableAnonymizerFilePosting)
			.row
				.label Stats Count Anonymizers
				label.postform-style.ph-5
					input(type='checkbox', name='stats_count_anonymizers', value='true' checked=settings.statsCountAnonymizers)
			.row
				.label Prune Files Immediately
				label.postform-style.ph-5
					input(type='checkbox', name='prune_immediately, value='true' checked=settings.pruneImmediately)
			.row
				.label Hash Images
				label.postform-style.ph-5
					input(type='checkbox', name='hash images' value='true' checked=settings.hashImages)
			.row
				.label IP Hash Perm Level
				input(type='number' name='ip_hash_perm_level' value=settings.ipHashPermLevel)
			.row
				.label Delete Board Perm Level
				input(type='number' name='delete_board_perm_level' value=settings.deleteBoardPermLevel)
			.row
				.label Overboard Index Thread Limit
				input(type='number' name='overboard_limit' value=settings.overboardLimit)
			.row
				.label Overboard Catalog Thread Limit
				input(type='number' name='overboard_catalog_limit' value=settings.overboardCatalogLimit)



			.row
				h4.mv-5 Ratelimit Costs
			.row
				.label Captcha
				input(type='number' name='rate_limit_cost_captcha' value=settings.rateLimitCost.captcha)
			.row
				.label Change Board Settings
				input(type='number' name='rate_limit_cost_board_settings' value=settings.rateLimitCost.boardSettings)
			.row
				.label Edit Post
				input(type='number' name='rate_limit_cost_edit_post' value=settings.rateLimitCost.editPost)


			.row
				h4.mv-5 Flood Timers
			.row
				.label Same Content Same IP/ID
				input(type='number' name='flood_timers_same_content_same_ip' value=settings.floodTimers.sameContentSameIp)
			.row
				.label Same Content Any IP/ID
				input(type='number' name='flood_timers_same_content_any_ip' value=settings.floodTimers.sameContentAnyIp)
			.row
				.label Any Content Same IP/ID
				input(type='number' name='flood_timers_any_content_same_ip' value=settings.floodTimers.anyContentSameIp)


			.row
				h4.mv-5 Block Bypass
			.row
				.label Enabled
				label.postform-style.ph-5
					input(type='checkbox', name='block_bypass_enabled', value='true' checked=settings.blockBypass.enabled)
			.row
				.label Force Anonymizers
				label.postform-style.ph-5
					input(type='checkbox', name='block_bypass_force_anonymizers', value='true' checked=settings.blockBypass.forceAnonymizers)
			.row
				.label Bypass DNSBL
				label.postform-style.ph-5
					input(type='checkbox', name='block_bypass_bypass_dnsbl', value='true' checked=settings.blockBypass.bypassDnsbl)
			.row
				.label Expire After Uses
				input(type='number' name='captcha_options_expire_after_uses' value=settings.expireAfterUses)
			.row
				.label Expire After Time
				input(type='number' name='captcha_options_expire_after_time' value=settings.captchaOptions.expireAfterTime)


			.row
				h4.mv-5 DNSBL
			.row
				.label Use DNSBLs
				label.postform-style.ph-5
					input(type='checkbox', name='dnsbl_enabled', value='true' checked=settings.dnsbl.enabled)
			.row
				.label DNSBL Addresses
				textarea(name='dnsbl_blacklists' placeholder='Newline separated') #{settings.dnsbl.blacklists.join('\n')}
			.row
				.label Cache Time
				input(type='number' name='dnsbl_cache_time' value=settings.dnsbl.cacheTime)


			.row
				h4.mv-5 Captcha
			.row
				.label Type
				select(name='captcha_options_type')
					option(value='text', selected=settings.captchaOptions.type === 'text') Text
					option(value='grid', selected=settings.captchaOptions.type === 'grid') Grid
					option(value='google', selected=settings.captchaOptions.type === 'google') Google
					option(value='hcaptcha', selected=settings.captchaOptions.type === 'hcaptcha') Hcaptcha
			.row
				.label Generate Limit
				input(type='number' name='captcha_options_generate_limit' value=settings.captchaOptions.generateLimit)
			.row
				.label Image Size
				input(type='number' name='captcha_options_image_size' value=settings.captchaOptions.grid.imageSize)
			.row
				.label Grid Size
				input(type='number' name='captcha_options_grid_size' value=settings.captchaOptions.grid.size)
			.row
				.label Grid Icon Offset
				input(type='number' name='captcha_options_grid_icon_y_offset' value=settings.captchaOptions.grid.iconYOffset)
			.row
				.label Minimum Distortions
				input(type='number' name='captcha_options_num_distorts_min' value=settings.captchaOptions.numDistorts.min)
			.row
				.label Maximum Distortions
				input(type='number' name='captcha_options_num_distorts_max' value=settings.captchaOptions.numDistorts.max)
			.row
				.label Distortion Intensity
				input(type='number' name='captcha_options_distortion' value=settings.captchaOptions.distortion)
			input(type='submit', value='save settings')
