include ./post.pug

mixin ban(ban, showcheck)
	.ban
		if showcheck
			input.post-check(type='checkbox', name='checkedbans[]' value=ban._id)
		span 
			| You were banned 
			if ban.board
				| from #[a(href=`/${ban.board}/`) /#{ban.board}/] 
			else
				| globally 
		| for: #{ban.reason}
		div Issued by: #{ban.issuer}
		div Banned: #{ban.date.toLocaleString()}
		div Expires: #{ban.expireAt.toLocaleString()}
		if ban.post
			span Banned for the following post:
			section.thread
				+post(ban.post, false)
	
