include ./post.pug

mixin ban(ban, banpage)
	.ban
		if !banpage || (ban.appeal == null && ban.allowAppeal === true)
			input.post-check(type='checkbox', name='checkedbans[]' value=ban._id)
		span 
			| Banned 
			if ban.board
				| from #[a(href=`/${ban.board}/`) /#{ban.board}/] 
			else
				| globally 
		| for: #{ban.reason}
		div Issued by: #{ban.issuer}
		div Issued against: ...#{ban.ip.slice(-10)}
		div Banned: #{ban.date.toLocaleString()}
		div Expires: #{ban.expireAt.toLocaleString()}
		if ban.post
			span Banned for the following post:
			section.thread
				+post(ban.post, false, false, false, true)
		if ban.appeal != null
			div Submitted appeal:
			textarea(disabled='true') #{ban.appeal}
		if !ban.allowAppeal
			div This ban was issued as non-appealable.
