mixin boardheader(pagename)
	.board-header
		if board.settings != null && board.settings.hideBanners === false
			img.board-banner(src=`/randombanner?board=${board._id}` loading='lazy')
			br
		if pagename
			h1.board-title #{pagename} (#[a.no-decoration(href=`/${board._id}/index.html`) /#{board._id}/])
		else
			a.no-decoration(href=`/${board._id}/index.html`)
				h1.board-title /#{board._id}/ - #{board.settings.name}
		h4.board-description #{board.settings.description}
