mixin boardnav(selected, showIndex, upLevel)
	if showIndex
		|  
		a(href=`${upLevel ? '../' : ''}index.html` class=(selected === 'index' ? 'bold' : '')) [Index]
	|  
	a(href=`${upLevel ? '../' : ''}catalog.html` class=(selected === 'catalog' ? 'bold' : '')) [Catalog]
	|  
	a(href=`${upLevel ? '../' : ''}banners.html` class=(selected === 'banners' ? 'bold' : '')) [Banners]
	|  
	a(href=`${upLevel ? '../' : ''}logs.html` class=(selected === 'logs' ? 'bold' : '')) [Logs]
	if thread != null && board.settings != null && board.settings.archiveLinks === true
		|  
		a(href=`https://archive.today/?run=1&url=${meta.url}/${thread.board}/thread/${thread.postId}.html` target='_blank') [Archive]
