mixin catalogtile(board, post, truncate)
	article(class='catalog-tile')
		- const postURL = `/${board._id}/thread/${post.postId}#${post.postId}`
		a.catalog-tile-button(href=postURL) Open Thread
		if post.subject
			span: a.no-decoration.post-subject(href=postURL) #{post.subject}
		.catalog-tile-content
			if post.files.length > 0
				.post-file-src
					a(href=`/${board._id}/thread/${post.postId}#${post.postId}`)
						if post.spoiler
							object(data='/img/spoiler.png' width='64' height='64')
						else
							object.catalog-thumb(data=`/img/thumb-${post.files[0].filename.split('.')[0]}.png` width='64' height='64')
			header.post-info
				span: a(href=postURL) ##{post.postId}
				span Replies: #{post.replyposts}
				span Images: #{post.replyfiles}
			br
			if post.message
				blockquote.no-m-p.post-message !{post.message}
