mixin catalogtile(board, post, truncate)
	article(class='catalog-tile')
		- const postURL = `/${board._id}/thread/${post.postId}.html#${post.postId}`
		header.post-info
			if post.sticky
				img(src='/img/sticky.svg' height='12')
				| 
			if post.saged
				img(src='/img/saged.svg' height='12')
				| 
			if post.locked
				img(src='/img/locked.svg' height='12')
				| 
			span
				a.no-decoration.post-subject(href=postURL) #{post.subject || 'No Subject #'+post.postId}
				|  - 
				| R: #{post.replyposts}
				|  / 
				| F: #{post.replyfiles}
		if post.files.length > 0
			.post-file-src
				a(href=postURL)
					if post.spoiler
						img.catalog-thumb(src='/img/spoiler.png' width='64' height='64')
					else
						object.catalog-thumb(data=`/img/thumb-${post.files[0].filename.split('.')[0]}.jpg` width='64' height='64')
							img(src='/img/deleted.png' width='64' height='64')
		if post.message
			pre.no-m-p.post-message !{post.message}
