mixin catalogtile(board, post, truncate)
	article(class='catalog-tile')
		.catalog-tile-content
			if post.files.length > 0
				.post-file-src
					a(href=`/${board._id}/thread/${post.postId}#${post.postId}`)
						if post.spoiler
							object(data='/img/spoiler.png' width='64' height='64')
						else
							object.catalog-thumb(data=`/img/thumb-${post.files[0].filename.split('.')[0]}.png` width='64' height='64')
			header.post-info
				if post.subject
					span: a.no-decoration.post-subject(href=`/${board._id}/thread/${post.postId}#${post.postId}`) #{post.subject}
				span: a(href=`/${board._id}/thread/${post.postId}#${post.postId}`) ##{post.postId}
			if post.message
				blockquote.no-m-p.post-message !{post.message}
		a.catalog-tile-button(href=`/${board._id}/thread/${post.postId}#${post.postId}`) Open Thread
