mixin catalogtile(board, post, truncate)
	article(class='catalog-tile')
		- const postURL = `/${board._id}/thread/${post.postId}.html#${post.postId}`
		if post.files.length > 0
			.post-file-src
				a(href=postURL)
					if post.spoiler
						object(data='/img/spoiler.png' width='64' height='64')
					else
						object.catalog-thumb(data=`/img/thumb-${post.files[0].filename.split('.')[0]}.jpg` width='64' height='64')
		header.post-info
			if post.sticky
				img(src='/img/sticky.svg' height='12')
				| 
			if post.saged
				img(src='/img/saged.svg' height='12')
				| 
			if post.locked
				img(src='/img/locked.svg' height='12')
				| 
			span Replies: #{post.replyposts}
			| 
			span Files: #{post.replyfiles}
			br
			span: a.no-decoration.post-subject(href=postURL) #{post.subject || 'No Subject'}
		if post.message
			br
			pre.no-m-p.post-message !{post.message}
