mixin catalogtile(board, post, index)
	.catalog-tile(data-board=post.board data-post-id=post.postId data-user-id=post.userId)
		- const postURL = `/${board._id}/thread/${post.postId}.html#${post.postId}`
		.post-info
			include ../includes/postmods.pug
			a.no-decoration.post-subject(href=postURL) #{post.subject || 'No subject'}
			br 
			span(title='Replies') R: #{post.replyposts}
			|  / 
			span(title='Files') F: #{post.replyfiles}
			|  / 
			span(title='Page') P: #{Math.ceil(index/10)}
		if post.files.length > 0
			.post-file-src
				a(href=postURL)
					- const file = post.files[0]
					if post.spoiler
						img.catalog-thumb(src='/img/spoiler.png' width='64' height='64')
					else if file.mimetype.startsWith('audio')
						img.catalog-thumb(src='/img/audio.png' width='64' height='64')
					else if file.hasThumb
						img.catalog-thumb(src=`/img/thumb-${file.hash}${file.thumbextension}` width='64' height='64')
					else
						img.catalog-thumb(src=`/img/${file.filename}` width='64' height='64')
		if post.message
			pre.no-m-p.post-message !{post.message}
