mixin custompage(page, manage=false)
	.table-container.flex-center.mv-5
		table
			tr
				th
					if manage === true
						input.left.post-check(type='checkbox', name='checkedcustompages' value=page.page)  
						a.left(href=`/${board._id}/custompage/${page.page}.html`) #{page.title}
						a.right.ml-5(href=`/${board._id}/manage/editcustompage/${page._id}.html`) [#{__('Edit')}]
					- const pageDate = new Date(page.date);
					time.right.reltime(datetime=pageDate.toISOString()) #{pageDate.toLocaleString(pageLanguage, {hourCycle:'h23'})}
			tr
				td
					if manage === true
						p.no-m-p #{`${page.message.raw.substring(0,50)}...`}
					else
						pre.post-message.no-m-p !{page.message.markdown}
					if page.edited
						small.right.cb.edited
							| #{__('Last edited')}  
							- const pageEditDate = new Date(page.edited);
							time.reltime(datetime=pageEditDate.toISOString()) #{pageEditDate.toLocaleString(pageLanguage, {hourCycle:'h23'})}
