mixin filters(filterArr)
	- const filterTypeMap = { single: __('Single'), fid: __('ID'), fname: __('Name'), ftrip: __('Tripcode'), fnamer: __('Name'), ftripr: __('Tripcode'), fsub: __('Subject'), fsubr: __('Subject'), fmsg: __('Message'), fmsgr: __('Message'), fflag: __('Flag'), fflagr: __('Flag') }
	if filterArr.length > 0
		each filter in filterArr
			tr
				td #{filterTypeMap[filter.type]}
				td #{filter.val.toString()}
				td: input(disabled type='checkbox' checked=filter.type.endsWith('r'))
				td: a.right.close(data-type=filter.type data-data=filter.val) ×
	else
		td(colspan=4) #{__('No Filters')}
