mixin filters(filterArr)
	- const filterTypeMap = { single: 'Single', fid: 'ID', fname: 'Name', ftrip: 'Tripcode', fnamer: 'Name', ftripr: 'Tripcode', fsub: 'Subject', fsubr: 'Subject', fmsg: 'Message', fmsgr: 'Message' }
	if filterArr.length > 0
		each filter in filterArr
			tr
				td #{filterTypeMap[filter.type]}
				td #{filter.val.toString()}
				td: input(disabled type='checkbox' checked=filter.type.endsWith('r'))
				td: a.right.close(data-type=filter.type data-data=filter.val) ×
	else
		td(colspan=4) No Filters
