mixin globalmanagenav(selected, upLevel)
	nav.pages
		if permissions.get(Permissions.MANAGE_GLOBAL_GENERAL)
			a(href=`${upLevel ? '../' : ''}recent.html` class=(selected === 'recent' ? 'bold' : '')) [Recent]
			|  
			a(href=`${upLevel ? '../' : ''}reports.html` class=(selected === 'reports' ? 'bold' : '')) [Reports]
		if permissions.get(Permissions.MANAGE_GLOBAL_BANS)
			|  
			a(href=`${upLevel ? '../' : ''}bans.html` class=(selected === 'bans' ? 'bold' : '')) [Bans]
		if permissions.get(Permissions.MANAGE_GLOBAL_BOARDS)
			|  
			a(href=`${upLevel ? '../' : ''}boards.html` class=(selected === 'boards' ? 'bold' : '')) [Boards]
		if permissions.get(Permissions.MANAGE_GLOBAL_LOGS)
			|  
			a(href=`${upLevel ? '../' : ''}globallogs.html` class=(selected === 'logs' ? 'bold' : '')) [Logs]
		if permissions.get(Permissions.MANAGE_GLOBAL_ACCOUNTS)
			|  
			a(href=`${upLevel ? '../' : ''}accounts.html` class=(selected === 'accounts' ? 'bold' : '')) [Accounts]
		if permissions.get(Permissions.MANAGE_GLOBAL_NEWS)
			|  
			a(href=`${upLevel ? '../' : ''}news.html` class=(selected === 'news' ? 'bold' : '')) [News]
		if permissions.get(Permissions.MANAGE_GLOBAL_SETTINGS)
			|  
			a(href=`${upLevel ? '../' : ''}settings.html` class=(selected === 'settings' ? 'bold' : '')) [Settings]

