mixin modal(data)
	.modal-bg(style=data.hidden?'display:none':'')
	.modal(style=data.hidden?'display:none':'')
		.row
			p.bold #{data.title}
			a.close.postform-style#modalclose X
		.row
			if data.message || data.messages || data.error || data.errors
				ul.nomarks
					if data.message
						li #{data.message}
					if data.error
						li #{data.error}
					if data.messages
						each msg in data.messages
							li #{msg}
					if data.errors
						each error in data.errors
							li #{error}
			else if data.settings
				.form-wrapper.flexleft.mt-10
					.row
						.label Main Theme
						select#theme-changer(name='theme')
							option(value='default') default
							each theme in data.settings.themes
								option(value=theme) #{theme}
					.row
						.label Code Block Theme
						select#code-theme-changer
							option(value='default') default
							each theme in data.settings.codeThemes
								option(value=theme) #{theme}
					//removed until i find a solution to not scrolling without reload
					//.row
						.label Live Post Updates
						input#live-setting(type='checkbox')
