mixin modal(data)
	.modal-bg(style=data.hidden?'display:none':'')
	.modal(id=(data.settings ? 'settingsmodal' : '') style=data.hidden?'display:none':'')
		.row
			p.bold #{data.title}
			a.close.postform-style#modalclose X
		if data.message || data.messages || data.error || data.errors
			.row
				ul.nomarks
					if data.message
						li #{data.message}
					if data.error
						li #{data.error}
					if data.messages
						each msg in data.messages
							li #{msg}
					if data.errors
						each error in data.errors
							li #{error}
		if data.frame
			.row.f1
				iframe.bypass#modalframe(src=data.frame frameborder='0' scrolling='no')
		else if data.link
			.row
				a.button.mv-0(href=data.link.href target='_blank') #{data.link.text}
		else if data.redirect && data.title === 'Success'
			.row
				a.button.mv-0(href=data.redirect) OK
		else if data.settings
			.row
				.form-wrapper.flexleft.mt-10
					.row.wrap.sb
						.col.mr-5
							.row
								label.postform-style.ph-5
									input#live-setting(type='checkbox')
								.rlabel Live posts
							.row
								label.postform-style.ph-5
									input#notification-setting(type='checkbox')
								.rlabel Notifications
							.row
								label.postform-style.ph-5
									input#notification-yous-only(type='checkbox')
								.rlabel Only notify (You)s
							.row
								label.postform-style.ph-5
									input#scroll-setting(type='checkbox')
								.rlabel Scroll to new posts
							.row
								label.postform-style.ph-5
									input#localtime-setting(type='checkbox')
								.rlabel Local time
							.row
								label.postform-style.ph-5
									input#24hour-setting(type='checkbox')
								.rlabel 24h time
							.row
								label.postform-style.ph-5
									input#relative-setting(type='checkbox')
								.rlabel Show relative time
							.row
								label.postform-style.ph-5
									input#noncolorids-setting(type='checkbox')
								.rlabel Non-color IDs
							.row
								label.postform-style.ph-5
									input#hidepoststubs-setting(type='checkbox')
								.rlabel Hide post stubs
							.row
								label.postform-style.ph-5
									input#disableboardcss-setting(type='checkbox')
								.rlabel Disable board custom CSS

						.col
							.row
								label.postform-style.ph-5
									input#hidethumbnails-setting(type='checkbox')
								.rlabel Hide thumbnails
							.row
								label.postform-style.ph-5
									input#hiderecursive-setting(type='checkbox')
								.rlabel Recursive post hide
							.row
								label.postform-style.ph-5
									input#loop-setting(type='checkbox')
								.rlabel Loop audio/video
							.row
								label.postform-style.ph-5
									input#heightlimit-setting(type='checkbox')
								.rlabel Unlimit media height
							.row
								label.postform-style.ph-5
									input#crispimages-setting(type='checkbox')
								.rlabel Crisp image rendering
							.row
								label.postform-style.ph-5
									input#imageloadingbars-setting(type='checkbox')
								.rlabel Image loading bars
							.row
								label.postform-style.ph-5
									input#alwaysshowspoilers-setting(type='checkbox')
								.rlabel Always reveal text spoilers
							.row
								label.postform-style.ph-5
									input#yous-setting(type='checkbox')
								.rlabel Show (You)s
							.row
								label.postform-style.ph-5
									input#smoothscrolling-setting(type='checkbox')
								.rlabel Smooth scrolling
					.row.mt-5
						.label (You)s
						input.mr-1#youslist-setting(type='text' readonly)
						input#youslist-clear(type='button' value='Clear')
					.row
						.label Hidden images
						input.mr-1#hiddenimages-setting(type='text' readonly)
						input#hiddenimages-clear(type='button' value='Clear')
					.row
						.label Cache
						input.mr-1#hovercachelist-setting(type='text' readonly)
						input#hovercachelist-clear(type='button' value='Clear')
					.row
						.label Video/Audio volume
						label.postform-style.ph-5
							input#volume-setting(type='range' min='0' max='100')
					.row
						.label Default name
						input#name-setting(type='text' name='name')
					.row
						.label Post password
						input#postpassword-setting(type='password' name='postpassword' autocomplete='new-password')
					.row
						.label Theme
						select#theme-setting
							option(value='default') default
							each theme in data.settings.themes
								option(value=theme) #{theme}
					.row
						.label Code theme
						select#codetheme-setting
							option(value='default') default
							each theme in data.settings.codeThemes
								option(value=theme) #{theme}
					.row
						.label Custom CSS
						textarea#customcss-setting(rows=7)
					.row.mt-5
						form.text-center#filter-form
							table
								tbody#advancedfilters
									tr
										th Post Filters
										th
										th
										th
									tr
										td Type
										td Value
										td Regex?
										td: input.right#filters-clear(type='button' value='Clear')
									tr
										td: select(name='type')
											option(value='fname') Name
											option(value='ftrip') Tripcode
											option(value='fsub') Subject
											option(value='fmsg') Message
										td
											input#filter-value-input(required type='text' name='value')
										td
											input(type='checkbox' name='regex')
										td: input.right(type='submit' value='Add')
					.row.mt-5
						.label
							| Import/Export Settings
							small.title Do NOT import untrusted settings data!
							small Export does not include post password or (You)'s
						textarea#import-export-setting(type='text')
					.row
						input.mr-1#export-setting(type='button' value='Export')
						input#import-setting(type='button' value='Import')
