mixin modal(data)
	.modal-bg(style=data.hidden?'display:none':'')
	.modal(style=data.hidden?'display:none':'')
		.row
			p.bold #{data.title}
			a.close.postform-style#modalclose X
		.row
			if data.message || data.messages || data.error || data.errors
				ul.nomarks
					if data.message
						li #{data.message}
					if data.error
						li #{data.error}
					if data.messages
						each msg in data.messages
							li #{msg}
					if data.errors
						each error in data.errors
							li #{error}
			else if data.settings
				.form-wrapper.flexleft.mt-10
					.row
						.label Theme
						select#theme-changer(name='theme')
							option(value='default') default
							each theme in data.settings.themes
								option(value=theme) #{theme}
					.row
						.label Code theme
						select#code-theme-changer
							option(value='default') default
							each theme in data.settings.codeThemes
								option(value=theme) #{theme}
					.row
						.label Default volume
						label.postform-style.ph-5
							input#volume-setting(type='range' min='0' max='100')
					.row
						.label Live posts
						label.postform-style.ph-5
							input#live-setting(type='checkbox')
					.row
						.label Notifications
						label.postform-style.ph-5
							input#notification-setting(type='checkbox')
					.row
						.label Scroll to new posts
						label.postform-style.ph-5
							input#scroll-setting(type='checkbox')
					.row
						.label 24h time
						label.postform-style.ph-5
							input#24hour-setting(type='checkbox')
					.row
						.label Show relative time
						label.postform-style.ph-5
							input#relative-setting(type='checkbox')
					.row
						.label Hide Thumbnails
						label.postform-style.ph-5
							input#hideimages-setting(type='checkbox')
