mixin mypermissions(jsonPermissions, boardOnly=false)
	- const permissionKeys = boardOnly ? Object.keys(jsonPermissions).filter(p => manageBoardBits.includes(parseInt(p))) : Object.keys(jsonPermissions)
	for bit, index in permissionKeys
		if index > 0 && jsonPermissions[bit].title
			hr(size=1)
			h4.mv-5 #{__(jsonPermissions[bit].title)}
			if jsonPermissions[bit].subtitle
				p #{__(jsonPermissions[bit].subtitle)}
		.row
			label.postform-style.ph-5.notallowed
				input(type='checkbox' name=`permission_bit_${bit}` value=bit checked=jsonPermissions[bit].state disabled=true)
			.rlabel #{__(jsonPermissions[bit].label)}
			p #{__(jsonPermissions[bit].desc)}
