mixin newspost(post, globalmanage=false)
	.table-container.flex-center.mv-5
		.anchor(id=post._id)
		table
			tr
				th
					if globalmanage === true
						input.left.post-check(type='checkbox', name='checkednews' value=post._id)  
					a.left(href=`#${post._id}`) #{post.title}
					- const newsDate = new Date(post.date);
					time.right.reltime(datetime=newsDate.toISOString()) #{newsDate.toLocaleString(undefined, {hourCycle:'h23'})}
			tr
				td
					if globalmanage === true
						p.no-m-p #{`${post.message.raw.substring(0,50)}...`}
					else
						pre.post-message.no-m-p !{post.message.markdown}
