mixin nftRule(nftr)
	.anchor(id=nftr._id)
	tr
		td
			input.left.post-check(type='checkbox', name='checkednftrules' value=nftr._id)
		td
			| #{nftr.name}
		td
			select(name='network' disabled)
				option(value='ethereum', selected=nftr.network === 'ethereum') #{__('Ethereum')}
				option(value='base', selected=nftr.network === 'base') #{__('Base')}
				option(value='arbitrum', selected=nftr.network === 'arbitrum') #{__('Arbitrum')}
		td
			input(required type='text' name='contract_address' placeholder='0x...' value=nftr.contractAddress readonly)
		td
			textarea(required name='abi' rows='1' placeholder='[...]' readonly) #{nftr.abi}
		td
			input(type='text' name='token_id' value=nftr.tokenId readonly placeholder='(Any in collection)')
		td
			| todo permissions stuff
		td
			a.right.ml-5(href=`./editnftrule/${nftr._id}.html`) [#{__('Edit')}]
