mixin nftRule(nftr)
	.anchor(id=nftr._id)
	tr
		td
			input.left.post-check(type='checkbox', name='checkednftrules' value=nftr._id)
		td
			| #{nftr.name}
		td
			select(name='network' disabled)
				option(value='ethereum', selected=nftr.network === 'ethereum') #{__('Ethereum')}
				option(value='base', selected=nftr.network === 'base') #{__('Base')}
				option(value='arbitrum', selected=nftr.network === 'arbitrum') #{__('Arbitrum')}
		td
			input(required type='text' name='contract_address' placeholder='0x...' value=nftr.contractAddress readonly disabled)
		td
			textarea(required name='abi' rows='1' placeholder='[...]' readonly disabled) #{nftr.abi}
		td
			input(type='text' name='token_id' value=nftr.tokenId readonly placeholder='(Any in collection)' disabled)
		td
			div.wm
				input.left.post-check(disabled type='checkbox' name='permission_reply' value='1' checked=nftr.permissions.reply)
				|  #{__('Post Replies')}
			div.wm
				input.left.post-check(disabled type='checkbox' name='permission_thread' value='1' checked=nftr.permissions.thread)
				|  #{__('Post Threads')}
			div.wm
				input.left.post-check(disabled type='checkbox' name='permission_link' value='1' checked=nftr.permissions.link)
				|  #{__('Post Links')}
			div.wm
				input.left.post-check(disabled type='checkbox' name='permission_file' value='1' checked=nftr.permissions.file)
				|  #{__('Post Files')}
		td
			a.right.ml-5.wm(href=`./editnftrule/${nftr._id}.html`) [#{__('Edit')}]
