mixin post(board, post)
	div(class='post-container '+(post.thread ? '' : 'op'))
		.post-info
			span #{post.subject}
			span #{post.author}
			span #{post.date.toLocaleString()}
			span Post 
			if post.thread == null
				a(href=`/${board._id}/thread/${post._id}`) ##{post._id}
			else 
				a(href=`/${board._id}/thread/${post.thread}#${post._id}`) ##{post._id}
		if post.file
			.post-image
				a(href='/img/'+post.file)
					img(src='/img/thumb-'+post.file)
		.post-content
			p(style='white-space: pre-wrap;') #{post.content}
