mixin post(board, post)
	div(class='post-container '+(post.thread ? '' : 'op'))
		span #{post.subject}
		span , #{post.author}
		span , #{post.date.toLocaleString()}
		span , Post 
		if post.thread == null
			a(href=`/${board._id}/thread/${post._id}`) ##{post._id}
		else 
			a(href=`/${board._id}/thread/${post.thread}#${post._id}`) ##{post._id}
		if post.file
			a(href='/img/'+post.file)
				img.post-image(src='/img/thumb-'+post.file)
		p(style='white-space: pre-wrap;') #{post.content}
