mixin post(board, post)
	article(class='post-container '+(post.thread ? '' : 'op'))
		header.post-info
			input.post-check(type='checkbox', name='checked[]' value=post._id)
			if post.subject
				span.post-subject #{post.subject}
			span.post-name #{post.name}
			span #{post.date.toLocaleString()}
			if post.thread == null
				span: a(href=`/${board._id}/thread/${post._id}`) ##{post._id}
			else
				span: a(href=`/${board._id}/thread/${post.thread}#${post._id}`) ##{post._id}
		if post.files.length > 0
			.post-files
				each file in post.files
					.post-file
						.post-file-info
							span: a(href='/img/thumb-'+file.filename download=file.originalFilename) Download
							br
							span (#{file.sizeString} #{file.geometryString})
						.post-file-src
							a(target='_blank' href='/img/'+file.filename)
								object(data='/img/thumb-'+file.filename type=file.mimetype)
		if post.message
			blockquote.post-message(style='white-space: pre-wrap;') #{post.message}

