mixin report(r, globalmanage=false)
	.reports.post-container
		input.post-check(type='checkbox', name='checkedreports' value=r.id)
		|  
		if globalmanage
			- ipHashSub = r.ip.slice(-10);
			a.bold(href=`?ip=${encodeURIComponent(ipHashSub)}`) #{ipHashSub}
			|  
		- const reportDate = new Date(r.date);
		time.reltime(datetime=reportDate.toISOString()) #{reportDate.toLocaleString(undefined, { hour12:false })}
		|  | Reason: #{r.reason}
