mixin report(r, manage=false)
	.reports.post-container
		input.post-check(type='checkbox', name='checkedreports' value=r.id)
		|  
		- const ip = viewRawIp === true ? r.ip.raw : r.ip.cloak;
		a.bold(href=`${manage ? 'recent.html' : ''}?ip=${encodeURIComponent(ip)}`) [#{ip}]
		|  
		- const reportDate = new Date(r.date);
		time.reltime(datetime=reportDate.toISOString()) #{reportDate.toLocaleString(pageLanguage, { hourCycle:'h23' })}
		|  | #{__('Reason')}: #{r.reason}
