extends ../layout.pug

block head
	title Account

block content
	.board-header
		h1.board-title Welcome, #{user.username}
		h4.board-description Auth level: #{user.authLevel}
	br
	hr(size=1)
	h4.no-m-p General:
	ul
		if user.authLevel <= 1
			li: a(href='/globalmanage/recent.html') Global management
		if enableUserBoards || user.authLevel <= 1
			li: a(href='/create.html') Create a board
		if !userAccountCreation && user.authLevel <= 1
			li: a(href='/register.html') Register an account
		li: a(href='/changepassword.html') Change password
	form(action='/forms/logout' method='post')
		input(type='submit' value='Log out')
	hr(size=1)
	h4.no-m-p Boards you own:
	if user.ownedBoards && user.ownedBoards.length > 0
		ul
			for b in user.ownedBoards
				li
					a(href=`/${b}/index.html`) /#{b}/
					|  -  
					a(href=`/${b}/manage/index.html`) Mod Index
					| ,  
					a(href=`/${b}/manage/catalog.html`) Mod Catalog
					| ,  
					a(href=`/${b}/manage/recent.html`) Recent
					| ,  
					a(href=`/${b}/manage/reports.html`) Reports
					| ,  
					a(href=`/${b}/manage/bans.html`) Bans
					| ,  
					a(href=`/${b}/manage/logs.html`) Logs
					| ,  
					a(href=`/${b}/manage/settings.html`) Settings
					| ,  
					a(href=`/${b}/manage/banners.html`) Banners
	else
		p None
	hr(size=1)
	h4.no-m-p Boards you moderate:
	if user.modBoards && user.modBoards.length > 0
		ul
			for b in user.modBoards
				li
					a(href=`/${b}/index.html`) /#{b}/
					|  -  
					a(href=`/${b}/manage/index.html`) Mod Index
					| ,  
					a(href=`/${b}/manage/catalog.html`) Mod Catalog
					| ,  
					a(href=`/${b}/manage/recent.html`) Recent
					| ,  
					a(href=`/${b}/manage/reports.html`) Reports
					| ,  
					a(href=`/${b}/manage/bans.html`) Bans
					| ,  
					a(href=`/${b}/manage/logs.html`) Logs
	else
		p None
