extends ../layout.pug

block head
	title Account

block content
	.board-header
		h1.board-title Welcome, #{user.username}
		h4.board-description Auth level: #{user.authLevel}
	br
	hr(size=1)
	h4.no-m-p General:
	ul
		if user.authLevel <= 1
			li
				a(href='/globalmanage/recent.html') Global management
				|  -  
				a(href=`/globalmanage/reports.html`) Reports
					if globalReportCount > 0
						b  (#{globalReportCount})
				| ,  
				a(href=`/globalmanage/bans.html`) Bans
				| ,  
				a(href=`/globalmanage/recent.html`) Recent
				| ,  
				a(href=`/globalmanage/boards.html`) Boards
				| ,  
				a(href=`/globalmanage/globallogs.html`) Logs
				if user.authLevel < 1
					| ,  
					a(href=`/globalmanage/accounts.html`) Accounts
					| ,  
					a(href=`/globalmanage/news.html`) News
					| ,  
					a(href=`/globalmanage/settings.html`) Settings
		if enableUserBoardCreation || user.authLevel <= 1
			li: a(href='/create.html') Create a board
		if !enableUserAccountCreation && user.authLevel <= 1
			li: a(href='/register.html') Register an account
		li: a(href='/changepassword.html') Change password
	form(action='/forms/logout' method='post')
		input(type='submit' value='Log out')
	hr(size=1)
	h4.no-m-p Boards you own:
	if user.ownedBoards && user.ownedBoards.length > 0
		ul
			for b in user.ownedBoards
				li
					a(href=`/${b}/index.html`) /#{b}/
					|  -  
					a(href=`/${b}/manage/index.html`) Mod Index
					| ,  
					a(href=`/${b}/manage/catalog.html`) Mod Catalog
					| ,  
					a(href=`/${b}/manage/recent.html`) Recent
					| ,  
					a(href=`/${b}/manage/reports.html`) Reports
						if boardReportCountMap[b]
							b  (#{boardReportCountMap[b]})
					| ,  
					a(href=`/${b}/manage/bans.html`) Bans
					| ,  
					a(href=`/${b}/manage/logs.html`) Logs
					| ,  
					a(href=`/${b}/manage/settings.html`) Settings
					| ,  
					a(href=`/${b}/manage/banners.html`) Banners
					| ,  
					a(href=`/${b}/manage/custompages.html`) Custom PAges
	else
		p None
	hr(size=1)
	h4.no-m-p Boards you moderate:
	if user.modBoards && user.modBoards.length > 0
		ul
			for b in user.modBoards
				li
					a(href=`/${b}/index.html`) /#{b}/
					|  -  
					a(href=`/${b}/manage/index.html`) Mod Index
					| ,  
					a(href=`/${b}/manage/catalog.html`) Mod Catalog
					| ,  
					a(href=`/${b}/manage/recent.html`) Recent
					| ,  
					a(href=`/${b}/manage/reports.html`) Reports
						if boardReportCountMap[b]
							b  (#{boardReportCountMap[b]})
					| ,  
					a(href=`/${b}/manage/bans.html`) Bans
					| ,  
					a(href=`/${b}/manage/logs.html`) Logs
	else
		p None
	if user.modBoards.length > 0 ||  user.ownedBoards.length > 0
		hr(size=1)
		h4.no-m-p Resign from a staff position:
		.form-wrapper.flexleft.mt-10
			form.form-post(action=`/forms/resign`, enctype='application/x-www-form-urlencoded', method='POST')
				input(type='hidden' name='_csrf' value=csrf)
				.row
					.label Boards
					select(name='board' size='5')
						optgroup(label='You own')
							each board in user.ownedBoards
								option(value=board) #{board}
						optgroup(label='You moderate')
							each board in user.modBoards
								option(value=board) #{board}
				.row
					.label I'm sure
					label.postform-style.ph-5
						input(type='checkbox', name='confirm', value='true' required)
				input(type='submit', value='submit')

	hr(size=1)
	h4.no-m-p Delete your account:
	.form-wrapper.flexleft.mt-10
		form.form-post(action=`/forms/deleteaccount`, enctype='application/x-www-form-urlencoded', method='POST')
			input(type='hidden' name='_csrf' value=csrf)
			.row
				.label I'm sure
				label.postform-style.ph-5
					input(type='checkbox', name='confirm', value='true' required)
			input(type='submit', value='submit')
	
