extends ../layout.pug
include ../mixins/post.pug
include ../mixins/boardnav.pug
include ../mixins/managenav.pug
include ../mixins/boardheader.pug
include ../mixins/announcements.pug

block head
	title /#{board._id}/ - #{board.settings.name} - #{__n('Page %s', page)}

block content
	+boardheader(modview ? __('Mod Index') : null)
	br
	include ../includes/postform.pug
	br
	+announcements()
	include ../includes/stickynav.pug
	if modview
		+managenav('index')
	else
		.pages
			include ../includes/boardpages.pug
			+boardnav(null, false, false)
	form(action=`/forms/board/${board._id}/${modview ? 'mod' : ''}actions` method='POST' enctype='application/x-www-form-urlencoded')
		if modview
			input(type='hidden' name='_csrf' value=csrf)
		hr(size=1)
		if threads.length === 0
			p #{__('No posts.')}
			hr(size=1)
		for thread in threads
			.thread
				+post(thread, true)
				for post in thread.replies
					+post(post, true)
			hr(size=1)
		if modview
			+managenav('index')
		else
			.pages
				include ../includes/boardpages.pug
				+boardnav(null, false, false)
		if modview
			include ../includes/actionfooter_manage.pug
		else
			include ../includes/actionfooter.pug
