extends ../layout.pug
include ../mixins/post.pug

block head
	title /#{board._id}/ - Recent Posts

block content
	h1.board-title /#{board._id}/ - #{board.name}
	h4.board-description #{board.description}
	include ../includes/postform.pug
	hr(size=1)
	form(action='/forms/board/'+board._id+'/delete' method='POST' enctype='application/x-www-form-urlencoded')
		input(type='hidden' name='_csrf' value=csrf)
		if threads.length === 0
			p No posts.
			hr(size=1)
		for thread in threads
			section.thread(id=thread._id)
				+post(board, thread, true)
				for post in thread.replies
					+post(board, post, true)
			hr(size=1)
		if pages > 0
			span.pages Page 
				- for(let i = 0; i < pages; i++)
					span: a(href=`/${board._id}/${i+1}`) #{i+1}
			hr(size=1)
		section.delete-wrapper
			input#password(type='password', name='password', placeholder='password (for deletion)' autocomplete='off')
			input(type='submit', value='delete')
