extends ../layout.pug
include ../mixins/post.pug

block head
	script(src='/js/all.js')
	title /#{board._id}/ - #{board.settings.name} - page #{page}

block content
	include ../includes/boardheader.pug
	br
	include ../includes/postform.pug
	br
	include ../includes/announcements.pug
	include ../includes/stickynav.pug
	nav.pages
		include ../includes/pages.pug
		|  
		a(href=`/${board._id}/catalog.html`) [Catalog]
		|  
		a(href=`/${board._id}/banners.html`) [Banners]
		|  
		a(href=`/${board._id}/logs.html`) [Logs]
	form(action='/forms/board/'+board._id+'/actions' method='POST' enctype='application/x-www-form-urlencoded')
		hr(size=1)
		if threads.length === 0
			p No posts.
			hr(size=1)
		for thread in threads
			section.thread
				+post(thread, true)
				for post in thread.replies
					+post(post, true)
			hr(size=1)
		nav.pages
			include ../includes/pages.pug
			|  
			a(href=`/${board._id}/catalog.html`) [Catalog]
			|  
			a(href=`/${board._id}/banners.html`) [Banners]
			|  
			a(href=`/${board._id}/logs.html`) [Logs]
		include ../includes/actionfooter.pug
