extends ../layout.pug

block head
	script(src='/js/theme.js')
	title #{meta.siteName}

block content
	h1.board-title Board List
	section.flexcenter.mv-10
		form.form-post(action=`/boards.html` method='GET')
			input(type='hidden' value=page)
			.row
				.label Search
				input(type='text' name='search' value=search)
			.row
				.label Sort
				select(name='sort')
					option(value='default') Users, PPH, Posts
					option(value='activity' selected=query.sort === 'activity') Activity
			.row
				.label Order
				select(name='direction')
					option(value='-1') Descending
					option(value='1' selected=query.direction === '1') Ascending
			input(type='submit', value='Filter')
	if localBoards && localBoards.length > 0
		h4.board-description Local Boards
		include ../includes/webringboardtable.pug
			each board in localBoards
				tr
					td 
						if board.settings.sfw
							span.user-id.sfw SFW
							|  
						a(href=`/${board._id}/index.html`) /#{board._id}/ - #{board.settings.name}
					td #{board.settings.description}
					td #{board.pph}
					td #{board.ips}
					td #{board.sequence_value-1}
					td #{board.lastPostTimestamp ? new Date(board.lastPostTimestamp).toLocaleString("en-US", { hour12:false, timeZone: "America/New_York" }) : '-'}
	if webringBoards && webringBoards.length > 0
		h4.board-description Webring Boards
		include ../includes/webringboardtable.pug
			each board in webringBoards
				tr
					td
						if !board.nsfw
							span.user-id.sfw SFW
							|  
						a(href=board.path) #{board.siteName} /#{board.uri}/ - #{board.title}
					td #{board.subtitle || '-'}
					td #{board.postsPerHour}
					td #{board.uniqueUsers}
					td #{board.totalPosts}
					td #{board.lastPostTimestamp ? new Date(board.lastPostTimestamp).toLocaleString("en-US", { hour12:false, timeZone: "America/New_York" }) : '-'}
	nav.pages.text-center.mt-5.mv-0
		include ../includes/boardlistpages.pug
