extends ../layout.pug
include ../mixins/boardtable.pug

block head
	title Board List

block content
	h1.board-title Board List
	.flexcenter.mv-10
		form.form-post(action='/boards.html' method='GET')
			.col
				.row
					.label Include Boards
					input(type='text' name='in' value=includeBoards.join(',') placeholder='comma separated')
				.row
					.label Exclude Boards
					input(type='text' name='ex' value=excludeBoards.join(',') placeholder='comma separated')
				.row
					.label Include Default Boards
					label.postform-style.ph-5
						input(type='checkbox', name='include_default', value='true' checked=includeDefault)
			input(type='submit', value='Filter')
	if boards && boards.length > 0
		+boardtable(true, true)
			each board in boards
				- const path = board.webring ? board.path : `/${board._id}/index.html`;
				tr
					td 
						span.left
							if board.webring === true
								span.help(title='Webring') &#x1F517;
								|  
							if board.settings.sfw === true
								span.help(title='SFW') &#x1F4BC;
								|  
						a(href=path) #{board.webring ? board.siteName : ''} /#{board.webring ? board.uri : board._id}/ - #{board.settings.name}
					td #{board.settings.description || '-'}
					td #{board.pph}
					td #{board.ppd != null ? board.ppd : '-'}
					td #{board.ips}
					td #{board.sequence_value-1}
					if board.lastPostTimestamp
						td(style=`background-color: ${board.lastPostTimestamp.color}`) #{board.lastPostTimestamp.text}
					else
						td -
	.pages.text-center.mt-5.mv-0
		include ../includes/pages.pug
