extends ../layout.pug

block head
	script(src='/js/all.js')
	title #{meta.siteName}

block content
	h1.board-title Board List
	.flexcenter.mv-10
		form.form-post(action=`/boards.html` method='GET')
			input(type='hidden' value=page)
			.row
				.label Search
				input(type='text' name='search' value=search placeholder='uri or tags')
			.row
				.label Sort
				select(name='sort')
					option(value='popularity') Popularity
					option(value='activity' selected=query.sort === 'activity') Latest Activity
			.row
				.label Order
				select(name='direction')
					option(value='desc') Descending
					option(value='asc' selected=query.direction === 'asc') Ascending
			input(type='submit', value='Filter')
	if localBoards && localBoards.length > 0
		h4.board-description Local Boards
		include ../includes/webringboardtable.pug
			each board in localBoards
				tr
					td 
						span.left
							if board.settings.sfw === true
								span(title='SFW') &#x1F4BC;
								|  
							if board.settings.unlisted === true
								span(title='Unlisted') &#x1F441;&#xFE0F;
								|  
						a(href=`/${board._id}/index.html`) /#{board._id}/ - #{board.settings.name}
					td #{board.settings.description}
					td #{board.pph}
					td #{board.ips}
					td #{board.sequence_value-1}
					if board.lastPostTimestamp
						td(style=`background-color: ${board.lastPostTimestamp.color}`) #{board.lastPostTimestamp.text}
					else
						td -
	if webringBoards && webringBoards.length > 0
		h4.board-description Webring Boards
		include ../includes/webringboardtable.pug
			each board in webringBoards
				tr
					td
						if !board.nsfw
							span(title='SFW') &#x1F4BC;
							|  
						a(href=board.path) #{board.siteName} /#{board.uri}/ - #{board.title}
					td #{board.subtitle || '-'}
					td #{board.postsPerHour}
					td #{board.uniqueUsers}
					td #{board.totalPosts}
					if board.lastPostTimestamp
						td(style=`background-color: ${board.lastPostTimestamp.color}`) #{board.lastPostTimestamp.text}
					else
						td -
	.pages.text-center.mt-5.mv-0
		include ../includes/pages.pug
