extends ../layout.pug

block head
	title /#{board}/

block content
	for thread in threads
		h1 OP:
		div #{thread._id}
		div #{thread.author}
		div #{thread.date}
		div #{thread.content}
		h1 Replies:
		for post in thread.replies
			div #{post._id}
			div #{post.author}
			div #{post.date}
			div #{post.content}
			br
		hr
