extends ../layout.pug
include ../mixins/catalogtile.pug
include ../mixins/boardnav.pug
include ../mixins/managenav.pug
include ../mixins/boardheader.pug
include ../mixins/announcements.pug

block head
	title /#{board._id}/ - #{__('Catalog')}

block content
	+boardheader(modview ? __('Mod Catalog') : __('Catalog'))
	br
	include ../includes/postform.pug
	br
	+announcements()
	include ../includes/stickynav.pug
	.wrapbar
		if modview
			+managenav('catalog')
		else
			.pages
				+boardnav('catalog', true, false)
		.pages.jsonly
			input#catalogfilter(type='text' placeholder=__('Filter'))
			select.ml-5.right#catalogsort
				option(value="" disabled selected hidden) #{__('Sort By')}
				option(value="bump") #{__('Bump Order')}
				option(value="date") #{__('Creation Date')}
				option(value="replies") #{__('Reply Count')}
	form(action=`/forms/board/${board._id}/${modview ? 'mod' : ''}actions` method='POST' enctype='application/x-www-form-urlencoded')
		if modview
			input(type='hidden' name='_csrf' value=csrf)
		hr(size=1)
		if threads.length === 0
			p #{__('No posts')}
		else 
			.catalog
				for thread, i in threads
					+catalogtile(thread, i+1)
		hr(size=1)
		if modview
			+managenav('catalog')
		else
			.pages
				+boardnav('catalog', true, false)
		if modview
			include ../includes/actionfooter_manage.pug
		else
			include ../includes/actionfooter.pug
