extends ../layout.pug
include ../mixins/catalogtile.pug

block head
	script(src='/js/theme.js')
	title /#{board._id}/ - Catalog

block content
	include ../includes/catalogheader.pug
	br
	include ../includes/stickynav.pug
	nav.pages
		a(href=`/${board._id}/index.html`) [Index]
		|  
		a.bold(href=`/${board._id}/catalog.html`) [Catalog]
		|  
		a(href=`/${board._id}/banners.html`) [Banners]
		|  
		a(href=`/${board._id}/logs.html`) [Logs]
	hr(size=1)
	if threads.length === 0
		p No posts.
	else 
		section.catalog
			for thread, i in threads
				+catalogtile(board, thread, i+1)
	hr(size=1)
	nav.pages
		a(href=`/${board._id}/index.html`) [Index]
		|  
		a.bold(href=`/${board._id}/catalog.html`) [Catalog]
		|  
		a(href=`/${board._id}/banners.html`) [Banners]
		|  
		a(href=`/${board._id}/logs.html`) [Logs]
