extends ../layout.pug
include ../mixins/boardheader.pug
include ../mixins/managenav.pug

block head
	title /#{board._id}/ - #{__('Edit Staff Permissions')}

block content
	+boardheader(__('Edit Staff Permissions'))
	br
	+managenav('staff', true)
	hr(size=1)
	h4.mv-5 #{__('Edit board permissions for "%s"', staffUsername)}
		|
		if permissions.get(Permissions.MANAGE_GLOBAL_ACCOUNTS)
			|  
			a(href=`/globalmanage/editaccount/${staffUsername}.html`) [#{__('Edit Account Permissions')}]
	- const jsonPermissions = staffPermissions.toJSON();
	.form-wrapper.flexleft
		form(action=`/forms/board/${board._id}/editstaff` method='POST')
			input(type='hidden' name='_csrf' value=csrf)
			input(type='hidden' name='username' value=staffUsername)
			include ../includes/staffpermissionsform.pug

