extends ../layout.pug

block head
	title #{__('Edit Post')}

block content
	h1.board-title #{__('Edit Post')}
	.form-wrapper.flex-center.mv-10
		form.form-post(action='/forms/editpost' method='POST')
			input(type='hidden' name='_csrf' value=csrf)
			input(type='hidden' name='referer' value=referer)
			input(type='hidden' name='board' value=post.board)
			input(type='hidden' name='postId' value=post.postId)
			.anchor(id=post.postId)
			div(class=`mv-5 post-container ${post.thread || ban === true ? '' : 'op'}` data-board=post.board data-post-id=post.postId data-user-id=post.userId)
				- const postURL = `/${post.board}/thread/${post.thread || post.postId}.html`;
				.post-info
					span.noselect
						label
							if !post.thread
								include ../includes/posticons.pug
							input.edit.post-subject(value=post.subject placeholder=__('Subject') type='text' name='subject' maxlength=globalLimits.fieldLength.subject)
							input.edit.post-name(value=post.email type='text' name='email' placeholder=__('Email') maxlength=globalLimits.fieldLength.email)
							input.edit.post-name(type='text' name='name' placeholder=__('Name') maxlength=globalLimits.fieldLength.name value=post.name+(post.capcode || ''))
						if post.country && post.country.code
							include ../includes/postflag.pug 
						if post.tripcode
							span.post-tripcode #{post.tripcode}
							| 
						if post.capcode
							span.post-capcode #{post.capcode}
							| 
						- const postDate = new Date(post.date);
						time.post-date.reltime(datetime=postDate.toISOString()) #{postDate.toLocaleString(pageLanguage, { hourCycle:'h23' })}
						| 
						if post.userId
							span.user-id(style=`background-color: #${post.userId}`) #{post.userId}
							| 
					span.post-links
						a.noselect.no-decoration(href=`${postURL}#${post.postId}`) #{__('No.')}
						span.post-quoters
							a.no-decoration(href=`${postURL}#postform`) #{post.postId}
				.post-data
					pre.post-message
						textarea.edit.fw(name='message' rows='15' placeholder=__('Message')) #{post.nomarkup}
					if post.banmessage
						p.ban
							span.message #{__('USER WAS BANNED FOR THIS POST')}
							|  
							span.reason(data-reason=post.banmessage) #{post.banmessage}
			label.mt-5
				input.post-check(type='checkbox', name='hide_name' value='1')
				| #{__('Hide Username')}
			label.mv-5
				input(type='text', name='log_message', placeholder=__('Modlog message') autocomplete='off')
			input(type='submit', value=__('Save'))
