extends ../layout.pug
include ../mixins/post.pug
include ../mixins/globalmanagenav.pug

block head
	title #{__('Reports')}

block content
	h1.board-title #{__('Global Management')}
	br
	+globalmanagenav('reports')
	form(action=`/forms/global/actions` method='POST' enctype='application/x-www-form-urlencoded')
		if reports.length === 0
			hr(size=1)
			p #{__('No reports.')}
		else
			input(type='hidden' name='_csrf' value=csrf)
			hr(size=1)
			if ip
				h4.no-m-p #{__('Reports against or by ip %s', ip)}
				hr(size=1)
			for report in reports
				.thread
					+post(report, false, false, true)
				hr(size=1)
			.pages.mv-5
				include ../includes/pages.pug
			include ../includes/actionfooter_globalmanage.pug
