extends ../layout.pug
include ../mixins/globalmanagenav.pug
include ../mixins/post.pug

block head
	title #{__('Recent Posts')}

block content
	h1.board-title #{__('Global Management')}
	br
	.wrapbar
		+globalmanagenav('recent')
		if page === 1 && !ip
			.jsonly#livetext(data-view-raw-ip=(viewRawIp?'true':'false') data-room=`globalmanage-recent-${viewRawIp === true ? 'raw' : 'hashed'}`)
				.dot#livecolor
				|  #{__('Connecting...')} 
				input.postform-style.ml-5.di#updatepostsbutton(type='button' value=__('Update'))
	form(action=`/forms/global/actions` method='POST' enctype='application/x-www-form-urlencoded')
		input(type='hidden' name='_csrf' value=csrf)
		if posts.length === 0
			hr(size=1)
			p #{__('No posts.')}
		else
			hr(size=1)
			if ip
				h4.no-m-p #{__(`Global post history for %s`, ip)}
				hr(size=1)
			for p in posts
				.thread
					+post(p, false, false, true)
				hr(size=1)
			.pages.mv-5
				include ../includes/pages.pug
			include ../includes/actionfooter_globalmanage.pug
