extends ../layout.pug
include ../mixins/post.pug
include ../mixins/ban.pug
include ../mixins/newspost.pug

block head
	script(src='/js/all.js')
	title Manage

block content
	h1.board-title Global Management
	hr(size=1)
	h4.no-m-p Add News:
	section.form-wrapper.flexleft.mt-10
		form.form-post(action=`/forms/global/addnews`, enctype='application/x-www-form-urlencoded', method='POST')
			input(type='hidden' name='_csrf' value=csrf)
			section.row
				.label Title
				input(type='text' name='title' required)
			section.row
				.label Message
				textarea(name='message' placeholder='supports post styling' required)
			input(type='submit', value='submit')
	hr(size=1)
	if news.length > 0
		h4.no-m-p Delete News:
		section.form-wrapper.flexleft.mt-10
			form.form-post(action=`/forms/global/deletenews`, enctype='application/x-www-form-urlencoded', method='POST')
				input(type='hidden' name='_csrf' value=csrf)
				each post in news
					+newspost(post, true)
				if news.length === 1
					.anchor
				input(type='submit', value='delete')
		hr(size=1)
	h4.no-m-p Delete board:
	section.form-wrapper.flexleft.mt-10
		form.form-post(action=`/forms/global/deleteboard`, enctype='application/x-www-form-urlencoded', method='POST')
			input(type='hidden' name='_csrf' value=csrf)
			section.row
				.label I'm sure
				label.postform-style.ph-5
					input(type='checkbox', name='confirm', value='true' required)
			section.row
				.label Board URI
				input(type='text' name='uri' required)
			input(type='submit', value='submit')
	hr(size=1)
	h4.no-m-p Accounts:
	section.form-wrapper.flexleft.mt-10
		form.form-post(action=`/forms/global/editaccounts` method='POST' enctype='application/x-www-form-urlencoded')
			input(type='hidden' name='_csrf' value=csrf)
			.table-container.flex-left.mv-10
				table
					tr
						th
						th Username
						th Auth Level
					for account in accounts
						tr
							td: input(type='checkbox', name='checkedaccounts[]' value=account._id)
							td #{account._id}
							td #{account.authLevel}
			section.row
				.label Delete Accounts
				label.postform-style.ph-5
					input(type='checkbox', name='delete_account', value='true')
			section.row
				.label Auth Level
				input(type='number' name='auth_level')
			input(type='submit', value='apply')
	hr(size=1)
	h4.no-m-p Global Reports:
	form(action=`/forms/global/actions` method='POST' enctype='application/x-www-form-urlencoded')
		input(type='hidden' name='_csrf' value=csrf)
		if reports.length === 0
			p No reports.
		else
			for report in reports
				section.thread
					+post(report, false, false, true)
				hr(size=1)
			include ../includes/actionfooter_globalmanage.pug
	hr(size=1)
	h4.no-m-p Global Bans & Appeals:
	form(action=`/forms/global/unban` method='POST' enctype='application/x-www-form-urlencoded')
		input(type='hidden' name='_csrf' value=csrf)
		if bans.length === 0
			p No bans.
			hr(size=1)
		else
			for ban in bans
				section.thread
					+ban(ban)
				hr(size=1)
			section.action-wrapper
				input(type='submit', value='unban')
