extends ../layout.pug
include ../mixins/globalmanagenav.pug

block head
	script(src='/js/all.js')
	title Manage

block content
	h1.board-title Global Management
	br
	+globalmanagenav('accounts')
	hr(size=1)
	h4.no-m-p Delete board:
	.form-wrapper.flexleft
		form.form-post(action=`/forms/global/deleteboard`, enctype='application/x-www-form-urlencoded', method='POST')
			input(type='hidden' name='_csrf' value=csrf)
			.row
				.label I'm sure
				label.postform-style.ph-5
					input(type='checkbox', name='confirm', value='true' required)
			.row
				.label Board URI
				input(type='text' name='uri' required)
			input(type='submit', value='submit')
	hr(size-1)
	h4.no-m-p Accounts:
	.form-wrapper.flexleft
		form.form-post(action=`/forms/global/editaccounts` method='POST' enctype='application/x-www-form-urlencoded')
			input(type='hidden' name='_csrf' value=csrf)
			.table-container.flex-left
				table
					tr
						th
						th Username
						th Auth Level
					for account in accounts
						tr
							td: input(type='checkbox', name='checkedaccounts' value=account._id)
							td #{account._id}
							td #{account.authLevel}
			nav.pages.mt-5
				include ../includes/pages.pug
			.row
				.label Delete Accounts
				label.postform-style.ph-5
					input(type='checkbox', name='delete_account', value='true')
			.row
				.label Set Auth Level
				input(type='number' name='auth_level')
			input(type='submit', value='apply')
