extends ../layout.pug
include ../mixins/ban.pug
include ../mixins/globalmanagenav.pug
include ../mixins/postlink.pug

block head
	title Logs

block content
	h1.board-title Global Management
	br
	+globalmanagenav('logs')
	hr(size=1)
	.form-wrapper.flexleft
		h4.no-m-p Search:
		form.form-post.mv-5(action=`/globalmanage/globallogs.html` method='GET')
			input(type='hidden' value=page)
			.row
				.label Board URI
				input(type='text' name='uri' value=uri)
			.row
				.label Username
				input(type='text' name='username' value=username)
			.row
				.label IP
				input(type='text' name='ip' value=ip)
			input(type='submit', value='Filter')
		h4.no-m-p Global Logs:
		if logs && logs.length > 0
			.table-container.flex-center.mv-10.text-center
				table.fw
						tr
							th Date
							th Board
							th User
							th IP
							th Actions
							th Posts
							th Log Message
						for log in logs
							tr
								- const logDate = new Date(log.date);
								td: time.reltime(datetime=logDate.toISOString()) #{logDate.toLocaleString(undefined, {hourCycle:'h23'})}
								td
									a(href=`/${log.board}/index.html`) /#{log.board}/
									|   
									a(href=`?uri=${log.board}`) [+]
								td
									if log.user !== 'Unregistered User'
										a(href=`accounts.html?username=${log.user}`) #{log.user}
									else
										| #{log.user}
									|   
									a(href=`?username=${log.user}`) [+]
								td
									- const logIp = viewRawIp === true ? log.ip.raw : log.ip.cloak;
									a(href=`recent.html?ip=${encodeURIComponent(logIp)}`) #{logIp}
									|   
									a(href=`?ip=${encodeURIComponent(logIp)}`) [+]
								td #{log.actions}
								td
									if log.showLinks
										for postLink in log.postLinks
											+postlink(log, postLink, true)
											|   
									else
										| #{log.postLinks.map(l => l.postId)}
								td #{log.message || '-'}
			.pages.mv-5
				include ../includes/pages.pug
		else
			p No logs.
