extends ../layout.pug
include ../mixins/globalmanagenav.pug

block head
	title Manage

block content
	h1.board-title Global Management
	br
	+globalmanagenav('accounts')
	hr(size=1)
	.form-wrapper.flexleft
		h4.no-m-p Search:
		form.form-post.mv-5(action=`/globalmanage/accounts.html` method='GET')
			input(type='hidden' value=page)
			.row
				.label Username
				input(type='text' name='username' value=username)
			.row
				.label Board URI
				input(type='text' name='uri' value=uri)
			input(type='submit', value='Filter')
		h4.no-m-p Accounts:
		if accounts && accounts.length > 0
			form.form-post.nogrow(action=`/forms/global/editaccounts` method='POST' enctype='application/x-www-form-urlencoded')
				input(type='hidden' name='_csrf' value=csrf)
				.table-container.flex-left
					table
						tr
							th
							th Username
							th Account Type
							th Own Boards
							th Mod Boards
							th Last Active
						for account in accounts
							tr
								td: input(type='checkbox', name='checkedaccounts' value=account._id)
								td #{account._id}
								td #{authLevelNames[account.authLevel]}
								td
									if account.ownedBoards.length > 0
										for b in account.ownedBoards
											a(href=`/${b}/index.html`) /#{b}/
											|  
									else
										| -
								td
									if account.modBoards.length > 0
										for b in account.modBoards
											a(href=`/${b}/index.html`) /#{b}/
											|  
									else
										| -		
								td
									if account.lastActiveDate
										time.reltime(datetime=account.lastActiveDate.toISOString()) #{account.lastActiveDate.toLocaleString(undefined, {hourCycle:'h23'})}
									else
										| -		
				.pages.mv-5
					include ../includes/pages.pug
				.row
					.label Set Account Type
					select(name='auth_level')
						option(value='')
						option(value='0') Admin
						option(value='1') Global Staff
						option(value='2') Global Board Owner
						option(value='3') Global Mod
						option(value='4') Regular User
				.row
					.label Delete Accounts
					label.postform-style.ph-5
						input(type='checkbox', name='delete_account', value='true')
				input(type='submit', value='apply')
		else
			p No results.
