extends ../layout.pug

block head
	title Imageboard

block content
	h1.board-title Fatchan
	.table-container.flex-center.mv-10
		table
			tr
				th Welcome
			tr
				td
					p
						| This is an anonymous imageboard, a type of discussion board where users share images and text about various topics. 
					p
						| The primary difference to traditional forums is that anybody can make a post without the need to register an account or provide 
						| any personal information. This has numerous advantages. The bar for entry is lowered, users can remain anonymous 
						| and what is said becomes more important than whoever says it.
					p 
						| Choose a board below and join the discussion!
	.table-container.flex-center.mv-10
		table
			tr
				th Board
				th Title
				th Description
				th Posts/h
				th Total Posts
			each board in boards
				tr
					td: a(href=`/${board._id}/`) /#{board._id}/
					td #{board.settings.name}
					td #{board.settings.description}
					td #{board.pph}
					td #{board.sequence_value-1}
	.table-container.flex-center.mv-10
		table
			tr
				th Source Code
			tr
				td
					p
						| The source code for this site is available 
						a(href='https://github.com/fatchan/jschan/') here
						|  (and in the footer of each page) and is licensed under the Affero General Public License v3.
