extends ../layout.pug

block head
	title Imageboard

block content
	h1.board-title Fatchan
	.table-container.flex-center.mv-10
		table
			tr
				th Welcome
			tr
				td
					p
						| This is an anonymous imageboard, a type of discussion board where users share images and text about various topics. 
					p
						| The primary difference between anonymous imageboards and traditional forums is that anybody can make a post without registering 
						| an account or providing any personal information. This lowers the barrier to entry, protects user identities and focuses on what is said, rather than who says it. 
					p 
						| Choose a topic below to join the discussion, or 
						a(href='/create.html') create your own board
						| .
	.table-container.flex-center.mv-10.text-center
		table
			tr
				th Board
				th Description
				th(title='Posts in the last hour') Posts/h
				th(title='Unique IPs that have posted in the last 72h') Active Users
				th Total Posts
			each board in boards
				tr
					td: a(href=`/${board._id}/`) /#{board._id}/ - #{board.settings.name}
					td #{board.settings.description}
					td #{board.pph}
					td #{board.ips}
					td #{board.sequence_value-1}
	.table-container.flex-center.mv-10.text-center
		table
			tr
				th Total Posts
				th Active Users
				th Active Content
			tr
				td #{totalPosts}
				- const totalActiveUsers = activeUsers.totalActiveUsers.length > 0 ? activeUsers.totalActiveUsers[0].ips : 0;
				td #{totalActiveUsers}
				td #{fileStats.totalSizeString}
	.table-container.flex-center.mv-10
		table
			tr
				th Source Code
			tr
				td
					p
						| The source code for this site is available 
						a(href='https://github.com/fatchan/jschan/') here
						|  (and in the footer of each page) and is licensed under the Affero General Public License v3.
