extends ../layout.pug

block head
	script(src='/js/all.js')
	title #{meta.siteName}

block content
	h1.board-title #{meta.siteName}
	.table-container.flex-center.mv-10
		table
			tr
				th.alt Welcome
			tr
				td.text-center
					p
						| This is an anonymous imageboard, a type of BBS where anyone can post messages and share images.
					p
						| You do not need to register or provide any personal information to make a post. This lowers the barrier to entry, protects user identities and focuses on what is said, rather than who says it.
					p 
						| Choose a board below to join the discussion, or 
						a(href='/create.html') create your own
						| .
	if boards && boards.length > 0
		include ../includes/boardtable.pug
			each board in boards
				tr
					td 
						if board.settings.sfw === true
							span.left
								span(title='SFW') 💼
								|  
						a(href=`/${board._id}/index.html`) /#{board._id}/ - #{board.settings.name}
					td #{board.settings.description}
					td #{board.pph}
					td #{board.ips}
					td #{board.sequence_value-1}
		.table-container.flex-center.mv-10.text-center
			table
				tr.help(title='Total stats including unlisted boards')
					th Total Posts
					th Total PPH
					th Total Users
					th Active Content
				tr
					td #{totalStats.posts}
					td #{totalStats.pph}
					td #{totalStats.ips}
					td #{fileStats.totalSizeString}
	.table-container.flex-center.mv-10
		table
			tr
				th Source Code
			tr
				td
					p
						| The source code for this site is available 
						a(href='https://github.com/fatchan/jschan/') here
						|  (and in the footer of each page) and is licensed under the Affero General Public License v3.
