extends ../layout.pug
include ../mixins/boardtable.pug

block head
	title #{meta.siteName}
	meta(property='og:site_name', value=meta.siteName)
	meta(property='og:url', content=meta.url)
	if recentNews && recentNews.length > 0
		meta(property='og:description', content=recentNews[0].message.raw.substring(0,200))

block content
	h1.board-title #{meta.siteName}
	.table-container.flex-center.mv-10.text-center
		table(style='max-width:450px')
			tr
				th.alt Welcome
			tr.corner-logo
				td
					pre.no-m-p
						| Welcome to fatchan.
						|
						a(href='https://fatchan.org/') ðŸŒ fatchan.org
						|  (
						a(href='https://fatchan.net') .net
						| , 
						a(href='https://fatchan.top') .top
						| , 
						a(href='https://fatchan.tw') .tw
						| , 
						a(href='https://fatchan.li') .li
						| , 
						a(href='https://fatchan.ru') .ru
						| , 
						a(href='https://fatchan.is') .is
						| )
						|
						a(href='http://cimixezweeq64g42vl6tyhk4becxhi4ldwqq6w43u53qhwsd3s4c3lyd.onion/') ðŸ§… Tor hidden service
						| 
						a(href='http://e8zhrn4ideccyy6wfs8gyytdgz8xmcn11f1y5o557z3g8a18gf4y.loki/')
							img(src="/file/loki.png" title="lokinet" width="14" height="14")
							|  Lokinet SNApp
						| 
						a(href='irc://irc.fatpeople.lol:+6697/fatchan') ðŸ’¬ IRC
	if globalAnnouncement.markdown
		.table-container.flex-center.mv-5
			table
				tr
					th.alt(colspan=3) Global Announcement
				tr
					td
						pre.post-message.no-m-p.text-center !{globalAnnouncement.markdown}
	if recentNews && recentNews.length > 0
		.table-container.flex-center.mv-5
			table.newstable
				tr
					th(colspan=3) Latest News
				each post in recentNews
					tr
						td
							a.left(href=`/news.html#${post._id}`) #{post.title}
						td
							p.no-m-p #{`${post.message.raw.substring(0,50)}${post.message.raw.length > 50 ? '...' : ''}`}
						td
							- const newsDate = new Date(post.date);
							time.right.reltime(datetime=newsDate.toISOString()) #{newsDate.toLocaleString(undefined, {hourCycle:'h23'})}
	if boards && boards.length > 0
		+boardtable(true, false)
			each board in boards
				tr
					td 
						if board.settings.sfw === true
							span.left
								span.help(title='SFW') &#x1F4BC;
								|  
						a(href=`/${board._id}/index.html`) /#{board._id}/ - #{board.settings.name}
					td #{board.settings.description}
					td #{board.pph}
					td #{board.ppd}
					td #{board.ips}
					td #{board.sequence_value-1}
			if totalStats.total-totalStats.unlisted > boards.length
				tr
					td(colspan=5)
						a.bold(href='/boards.html') More Boards
		.table-container.flex-center.mv-10.text-center
			table(style='max-width:450px')
				tr
					th Want your own board?
				tr
					td
						pre.no-m-p
							a(href='/register.html') Register an account
							| , then 
							a(href='/t/thread/1.html#postform') request a board
							| .
		.table-container.flex-center.mv-10.text-center
			table(style='max-width:450px')
				tr
					th Overall Stats
				tr
					td
						pre.no-m-p
							| There are currently #[span.bold #{totalStats.total-totalStats.unlisted}] public boards, #[span.bold #{totalStats.total}] in total. Sitewide, #[span.bold #{totalStats.ppd}] post#{totalStats.ppd === 1 ? ' has' : 's have'} been made in the last day, #[span.bold #{totalStats.pph}] in the last hour, #[span.bold #{totalStats.posts}] in total.
							| #[span.bold #{fileStats.count}] file#{fileStats.count === 1 ? ' is' : 's are'} being served, totaling #[span.bold #{fileStats.totalSizeString}].
