extends ../layout.pug

block head
	script(src='/js/all.js')
	title #{meta.siteName}

block content
	h1.board-title #{meta.siteName}
	.table-container.flex-center.mv-10.text-center
		table
			tr
				th.alt Welcome
			tr
				td
					pre.no-m-p
						| This is an anonymous imageboard, a type of BBS where anyone can post messages and share images.
						| You don't need to register or provide any personal information to make a post.
						| Choose a board below to join the discussion, or #[a(href='/create.html') create your own].
	if boards && boards.length > 0
		include ../includes/boardtable.pug
			each board in boards
				tr
					td 
						if board.settings.sfw === true
							span.left
								span(title='SFW') &#x1F4BC;
								|  
						a(href=`/${board._id}/index.html`) /#{board._id}/ - #{board.settings.name}
					td #{board.settings.description}
					td #{board.pph}
					td #{board.ips}
					td #{board.sequence_value-1}
		.table-container.flex-center.mv-10.text-center
			table(style='max-width:450px')
				tr
					th Overall Stats
				tr
					td
						pre.no-m-p
							| There are currently #[span.bold #{totalStats.total-totalStats.unlisted}] public boards, #[span.bold #{totalStats.total}] in total.
							| Sitewide, #[span.bold #{totalStats.pph}] post#{totalStats.pph === 1 ? ' has' : 's have'} been made in the last hour, #[span.bold #{totalStats.posts}] in total.
							| #[span.bold #{fileStats.count}] file#{fileStats.count === 1 ? ' is' : 's are'} being served, totaling #[span.bold #{fileStats.totalSizeString}].
