extends ../layout.pug
include ../mixins/managenav.pug
include ../mixins/boardheader.pug

block head
	title /#{board._id}/ - My Permissions

block content
	+boardheader('My Permissions')
	br
	+managenav('staff')
	hr(size=1)
	h4.mv-5 Board-specific permissions
		|
		if permissions.get(Permissions.MANAGE_BOARD_STAFF) && user.staffBoards.includes(board._id)
			|  
			a(href=`/${board._id}/manage/editstaff/${user.username}.html`) [Edit]
	- const jsonPermissions = permissions.toJSON();
	for perm, index in Object.keys(jsonPermissions).filter(p => p.startsWith('MANAGE_BOARD_'))
		if jsonPermissions[perm].title && index > 0
			hr(size=1)
			h4.mv-5 #{jsonPermissions[perm].title}
		.row
			label.postform-style.ph-5
				input(type='checkbox' checked=jsonPermissions[perm].state disabled)
			.rlabel #{jsonPermissions[perm].label}
			p #{jsonPermissions[perm].desc}
