extends ../layout.pug
include ../mixins/post.pug
include ../mixins/ban.pug

block head
	title /#{board._id}/ - Manage

block content
	include ../includes/boardheader.pug
	br
	h4.no-m-p Settings:
	section.form-wrapper.flexleft.mv-10
		form.form-post(action=`/forms/board/${board._id}/settings` method='POST' enctype='application/x-www-form-urlencoded')
			input(type='hidden' name='_csrf' value=csrf)
			section.postform-row
				.postform-label IDs
				label.postform-style.ph-5
					input(type='checkbox', name='ids', value='true' checked=board.settings.ids)
			section.postform-row
				.postform-label Force Anon
				label.postform-style.ph-5
					input(type='checkbox', name='force_anon', value='true' checked=board.settings.forceAnon)
			section.postform-row
				.postform-label Post Captcha
				label.postform-style.ph-5
					input(type='checkbox', name='captcha', value='true' checked=board.settings.captcha)
			section.postform-row
				.postform-label Post Deletion
				label.postform-style.ph-5
					input(type='checkbox', name='user_post_delete', value='true' checked=board.settings.userPostDelete)
			section.postform-row
				.postform-label File Spoilers
				label.postform-style.ph-5
					input(type='checkbox', name='user_post_spoiler', value='true' checked=board.settings.userPostSpoiler)
			section.postform-row
				.postform-label File Unlinking
				label.postform-style.ph-5
					input(type='checkbox', name='user_post_unlink', value='true' checked=board.settings.userPostUnlink)
			section.postform-row
				.postform-label Force OP Message
				label.postform-style.ph-5
					input(type='checkbox', name='force_op_message', value='true' checked=board.settings.forceOPMessage)
			section.postform-row
				.postform-label Force OP Subject
				label.postform-style.ph-5
					input(type='checkbox', name='force_op_subject', value='true' checked=board.settings.forceOPSubject)
			section.postform-row
				.postform-label Force OP File
				label.postform-style.ph-5
					input(type='checkbox', name='force_op_file', value='true' checked=board.settings.forceOPFile)
			section.postform-row
				.postform-label Anon Name
				input(type='text' name='default_name' placeholder=board.settings.defaultName)
			section.postform-row
				.postform-label Min Message Length
				input(type='text' name='min_message_length' placeholder=board.settings.minMessageLength)
			section.postform-row
				.postform-label Thread Limit
				input(type='text' name='thread_limit' placeholder=board.settings.threadLimit)
			section.postform-row
				.postform-label Reply Limit
				input(type='text' name='reply_limit' placeholder=board.settings.replyLimit)
			section.postform-row
				.postform-label Max Files
				input(type='text' name='max_files' placeholder=board.settings.maxFiles)
			input(type='submit', value='save settings')
	hr(size=1)
	h4.no-m-p Add Banners:
	section.form-wrapper.flexleft.mv-10
		form.form-post(action=`/forms/board/${board._id}/addbanners`, enctype='multipart/form-data', method='POST')
			input(type='hidden' name='_csrf' value=csrf)
			section.postform-row
				.postform-label Upload
					.required *
				input#file(type='file', name='file' multiple required)
			input(type='submit', value='submit')
	hr(size=1)
	if board.banners.length > 0
		h4.no-m-p Delete Banners:
		section.form-wrapper.flexleft.mv-10
			form.form-post(action=`/forms/board/${board._id}/deletebanners`, enctype='application/x-www-form-urlencoded', method='POST')
				input(type='hidden' name='_csrf' value=csrf)
				each banner in board.banners
					label.banner-check
						input(type='checkbox' name='checkedbanners[]' value=banner)
						img.board-banner(src=`/banner/${board._id}/${banner}` width='300' height='100')
				input(type='submit', value='delete')
		hr(size=1)
	h4.no-m-p Reports:
	.mv-10
		form(action=`/forms/board/${board._id}/modactions` method='POST' enctype='application/x-www-form-urlencoded')
			input(type='hidden' name='_csrf' value=csrf)
			if reports.length === 0
				p No reports.
				hr(size=1)
			else
				for report in reports
					section.thread
						+post(report, false, true)
					hr(size=1)
				include ../includes/actionfooter_manage.pug
				hr(size=1)
	h4.no-m-p Bans:
	form(action=`/forms/board/${board._id}/unban` method='POST' enctype='application/x-www-form-urlencoded')
		input(type='hidden' name='_csrf' value=csrf)
		if bans.length === 0
			p No bans.
			hr(size=1)
		else
			for ban in bans
				section.thread
					+ban(ban, true)
				hr(size=1)
			section.action-wrapper
				input(type='submit', value='unban')

