extends ../layout.pug

block head
	meta(http-equiv="refresh" content=`3;url=${redirect}`)

block content
	h1 #{title}
	ul
		if message
			li #{message}
		if error
			li #{error}
		if messages
			each msg in messages
				li #{msg}
		if errors
			each error in errors
				li #{error}
	p You will be redirected shortly. If you are not redirected automatically, you can #[a(href=redirect) click here].
