extends ../layout.pug
include ../mixins/boardheader.pug

block head
	script(src='/js/theme.js')
	title /#{board._id}/ - Logs

block content
	+boardheader('Logs')
	br
	include ../includes/stickynav.pug
	nav.pages
		a(href=`/${board._id}/index.html`) [Index]
		|  
		a(href=`/${board._id}/catalog.html`) [Catalog]
		|  
		a(href=`/${board._id}/banners.html`) [Banners]
		|  
		a.bold(href=`/${board._id}/logs.html`) [Logs]
	hr(size=1)
	if dates.length === 0
		p No Logs.
	else
		.table-container.flex-center.mv-10.text-center
			table
				tr
					th Date
					th Events
				for row in dates
					tr
						-
							const { date, count } = row;
							const day = ('0'+date.day).slice(-2);
							const month = ('0'+date.month).slice(-2);
							const year = date.year;
							const logName = `${month}-${day}-${year}`;
						td: a(href=`logs/${logName}.html`) #{logName}
						td #{count}
	hr(size=1)
	nav.pages
		a(href=`/${board._id}/index.html`) [Index]
		|  
		a(href=`/${board._id}/catalog.html`) [Catalog]
		|  
		a(href=`/${board._id}/banners.html`) [Banners]
		|  
		a.bold(href=`/${board._id}/logs.html`) [Logs]
