extends ../layout.pug
include ../mixins/boardheader.pug
include ../mixins/boardnav.pug

block head
	title /#{board._id}/ - #{__('Logs')}

block content
	+boardheader(__('Logs'))
	br
	include ../includes/stickynav.pug
	.pages
		+boardnav('logs', true, false)
	hr(size=1)
	if dates.length === 0
		p #{__('No Logs.')}
	else
		.table-container.flex-center.mv-10.text-center
			table
				tr
					th #{__('Date')}
					th #{__('Events')}
				for row in dates
					tr
						-
							const { date, count } = row;
							const day = ('0'+date.day).slice(-2);
							const month = ('0'+date.month).slice(-2);
							const year = date.year;
							const logName = `${month}-${day}-${year}`;
						td: a(href=`logs/${logName}.html`) #{logName}
						td #{count}
	hr(size=1)
	.pages
		+boardnav('logs', true, false)
