extends ../layout.pug
include ../mixins/boardheader.pug
include ../mixins/boardnav.pug
include ../mixins/postlink.pug

block head
	title /#{board._id}/ - Logs for #{startDate.toDateString()}

block content
	+boardheader('Logs')
	br
	include ../includes/stickynav.pug
	.pages
		+boardnav('logs', true, true)
	hr(size=1)
	.table-container.flex-center.mv-10.text-center
		table
				tr
					th Date
					th User
					th Actions
					th Posts
					th Log Message
				for log in logs
					tr
						- const logDate = new Date(log.date);
						td: time.reltime(datetime=logDate.toISOString()) #{logDate.toLocaleString(undefined, {hourCycle:'h23'})}
						td(class=(!log.showUser ? 'em' : '')) #{log.showUser ? log.user : 'Hidden User'}
						td #{log.actions}
						td
							if log.showLinks
								for postLink in log.postLinks
									+postlink(log, postLink, false)
									|   
							else
								| #{log.postLinks.map(l => l.postId)}
						td #{log.message || '-'}
	hr(size=1)
	.pages
		+boardnav('logs', true, true)
