extends ../layout.pug
include ../mixins/catalogtile.pug
include ../mixins/overboardform.pug
include ../mixins/announcements.pug

block head
	title #{__('Overboard Catalog')}

block content
	.board-header.mb-5
		h1.board-title #{__('Overboard Catalog')}
		h4.board-description #{__('Recently bumped threads from multiple boards')}
			|  
			| (
			a(href=`/overboard.html?${cacheQueryString}`) #{__('Index View')}
			| )
	if allowCustomOverboard === true
		+overboardform('/catalog.html')
	+announcements()
	include ../includes/stickynav.pug
	.wrapbar
		.pages.jsonly
			input#catalogfilter(type='text' placeholder=__('Filter'))
			select.ml-5.right#catalogsort
				option(value="" disabled selected hidden) #{__('Sort By')}
				option(value="bump") #{__('Bump Order')}
				option(value="date") #{__('Creation Date')}
				option(value="replies") #{__('Reply Count')}
	hr(size=1)
	if threads.length === 0
		p #{__('No posts.')}
	else 
		.catalog
			for thread, i in threads
				+catalogtile(thread, i, true)
	hr(size=1)
