extends ../layout.pug
include ../mixins/post.pug
include ../mixins/overboardform.pug
include ../mixins/announcements.pug

block head
	title #{__('Overboard Index')}

block content
	.board-header
		h1.board-title #{__('Overboard Index')}
		h4.board-description #{__('Recently bumped threads from multiple boards')}
			|  
			| (
			a(href=`/catalog.html?${cacheQueryString}`) #{__('Catalog View')}
			| )
	include ../includes/stickynav.pug
	if allowCustomOverboard === true
		+overboardform('/overboard.html')
	+announcements(true, true, false)
	hr(size=1)
	if threads.length === 0
		p #{__('No posts.')}
	for thread in threads
		h4.no-m-p #{__('Thread from')} #[a(href=`/${thread.board}/index.html`) /#{thread.board}/]
		.thread
			+post(thread, true, false, false, false, true)
			for post in thread.replies
				+post(post, true, false, false, false, true)
		hr(size=1)
