extends ../layout.pug

block head
	title #{__('Register')}

block content
	h1.board-title #{__('Register')}

	.mv-10
		if enableWeb3 === true
			.sm#tab-1
				.sm#tab-2
					.tabbed-area.flexcenter
						ul.tabs.group.web3
							li
								a(href='#tab-1') #{__('Username')}
							li.jsonly
								a(href='#tab-2') #{__('MetaMask')}
						.box-wrap.mv-0.wm
							.tab.tab-1
								.form-wrapper.flex-center
									include ../includes/registration.pug
							.tab.tab-2.jsonly.web3
								.form-wrapper.flex-center
									form.form-post(action='/forms/register' method='POST' data-captcha-preload='true')
										input(type='hidden' name='nonce')
										input(type='hidden' name='address')
										input(type='hidden' name='signature')
										if captchaOptions.type === 'text'
											include ../includes/captchasidelabel.pug
										else
											include ../includes/captchafieldrow.pug
										.postform-style.dummy-link.web3-login.ct-r1.ph-5
											img(src='/file/metamask-fox.svg' width=24 height=24)
											| #{__('Register with MetaMask')}
		else
			.form-wrapper.flex-center.mv-10
				include ../includes/registration.pug
	.text-center.mt-10
		p: a(href='/login.html') #{__('Login')}
		p: a(href='/changepassword.html') #{__('Change Password')}
