extends ../layout.pug

block head
	title #{__('Register')}

block content
	h1.board-title #{__('Register')}
	.form-wrapper.flex-center.mv-10
		form.form-post(action='/forms/register' method='POST' data-captcha-preload='true')
			.row
				.label #{__('Username')}
				input(type='text', name='username', maxlength='50' pattern='[a-zA-Z0-9]+' required title=__('alphanumeric only'))
			.row
				.label #{__('Password')}
				input(type='password', name='password', maxlength='100' required)
			.row
				.label #{__('Confirm Password')}
				input(type='password', name='passwordconfirm', maxlength='100' required)
			if captchaOptions.type === 'text'
				include ../includes/captchasidelabel.pug
			else
				include ../includes/captchafieldrow.pug
			input(type='submit', value=__('Register'))
	if enableWeb3 === true
		.jsonly.web3.mv-10
			.text-center OR
			.form-wrapper.flex-center.mv-10
				form.form-post(action='/forms/register' method='POST' data-captcha-preload='true')
					input(type='hidden' name='nonce')
					input(type='hidden' name='address')
					input(type='hidden' name='signature')
					if captchaOptions.type === 'text'
						include ../includes/captchasidelabel.pug
					else
						include ../includes/captchafieldrow.pug
					.postform-style.dummy-link.web3-login.ct-r1.ph-5
						img(src='/file/metamask-fox.svg' width=24 height=24)
						| #{__('Register with MetaMask')}
	.text-center.mt-10
		p: a(href='/login.html') #{__('Login')}
		p: a(href='/changepassword.html') #{__('Change Password')}
