extends ../layout.pug

block head
	title #{__('Sessions')}

block content
	.board-header
		h1.board-title #{__('Active Sessions')}
	br
	hr(size=1)
	h4.mv-5 #{__('Active Sessions')}:
	form.form-post.nogrow(action=`/forms/deletesessions` method='POST' enctype='application/x-www-form-urlencoded')
		input(type='hidden' name='_csrf' value=csrf)
		.table-container.flex-left.text-center
			table
				tr
					th
					th #{__('ID')}
					th #{__('Expires')}
				each session, sessionId in sessions
					tr(class=(sessionId === currentSessionKey ? 'bold' : ''))
						td: input(type='checkbox', name='checkedsessionids' value=sessionId)
						td #{sessionId} #{sessionId === currentSessionKey ? '(current)' : ''}
						- const expiryDate = new Date(session.cookie.expires)
						td: time.reltime(datetime=expiryDate.toISOString()) #{expiryDate.toLocaleString(pageLanguage, {hourCycle:'h23'})}
		h4.mv-5 #{__('Delete Selected')}:
		input(type='submit', value=__('Delete'))
