extends ../layout.pug
include ../mixins/post.pug

block head
	title /#{board._id}/ - #{thread.subject}
	meta(property='og:site_name', value='fatchan')
	meta(property='og:title', content=thread.subject)
	meta(property='og:url', content='https://fatpeople.lol')
	meta(property='og:description', content=thread.message.substring(0,200))
	meta(property='og:image', content=thread.files.length > 0 ? '/img/'+thread.files[0].filename : '')

block content
	a(href='/'+board._id) Back to /#{board._id}/
	hr(size=1)
	include ../includes/postform.pug
	hr(size=1)
	form(action='/forms/board/'+board._id+'/delete' method='POST' enctype='application/x-www-form-urlencoded')
		input(type='hidden' name='_csrf' value=csrf)
		section.thread(id=thread._id)
			+post(board, thread)
			for post in thread.replies
				+post(board, post)
		hr(size=1)
		section.delete-wrapper
			input#password(type='password', name='password', placeholder='password (for deletion)' autocomplete='off')
			input(type='submit', value='delete')




