extends ../layout.pug
include ../mixins/post.pug

block head
	title /#{board._id}/ - #{thread.subject||thread.postId}
	meta(property='og:site_name', value=meta.siteName)
	meta(property='og:title', content=thread.subject)
	meta(property='og:url', content=meta.url)
	meta(property='og:description', content=thread.message)
	if thread.files.length > 0
		if thread.spoiler
			meta(property='og:image', content='/img/spoiler.png')
		else if thread.files[0].hasThumb
			meta(property='og:image', content='/img/thumb-'+thread.files[0].filename.split('.')[0]+'.jpg')
		else
			meta(property='og:image', content='/img/'+thread.files[0].filename)

block content
	include ../includes/boardheader.pug
	br
	include ../includes/postform.pug
	br
	include ../includes/stickynav.pug
	.anchor#top
	nav.pages
		a(href=`/${board._id}/index.html`) [Index]
		|  
		a(href=`/${board._id}/catalog.html`) [Catalog]
		|  
		a(href=`/${board._id}/banners.html`) [Banners]
	hr(size=1)
	form(action=`/forms/board/${board._id}/actions` method='POST' enctype='application/x-www-form-urlencoded')
		section.thread
			+post(thread)
			for post in thread.replies
				+post(post)
		hr(size=1)
		nav.pages#bottom
			a(href=`/${board._id}/index.html`) [Index]
			| 
			a(href=`/${board._id}/catalog.html`) [Catalog]		
			|  
			a(href=`/${board._id}/banners.html`) [Banners]
		include ../includes/actionfooter.pug
