extends ../layout.pug
include ../mixins/post.pug

block head
	title /#{board._id}/ - #{thread.subject}
	meta(property='og:site_name', value='fatchan')
	meta(property='og:title', content=thread.subject)
	meta(property='og:url', content='https://fatpeople.lol')
	meta(property='og:description', content=thread.message.substring(0,200))
	meta(property='og:image', content=thread.files.length > 0 ? '/img/'+thread.files[0].filename : '')

block content
	include ../includes/boardheader.pug
	hr(size=1)
	include ../includes/postform.pug
	.mode Posting mode: Reply [#[a.no-decoration(href=`/${board._id}`) Go Back]]
	hr(size=1)
	form(action='/forms/board/'+board._id+'/posts' method='POST' enctype='application/x-www-form-urlencoded')
		input(type='hidden' name='_csrf' value=csrf)
		section.thread
			+post(thread)
			for post in thread.replies
				+post(post)
		hr(size=1)
		include ../includes/deletefooter.pug
